
@function hexToRGB($hex) {
  @return red($hex), green($hex), blue($hex);
}

$color-1: #659dbd;
$color-2: #8d8741;
$color-3: #dbb08a;
$color-info: #6495ed;
$color-error: #ff6347;
$color-success: #58de58;
$color-warning: #ffa868;

$color-1-dark: #161449;
$color-2-dark: #526525;
$color-3-dark: #554e3b;
$color-info-dark: #002029;
$color-error-dark: #500011;
$color-success-dark: #003a27;
$color-warning-dark: #472d0a;

html {
  height: 100%;
  overflow: hidden;

  /** Main colour for large interactive UI components */
  --theme-first: #{$color-1};
  --theme-first-rgb: #{hexToRGB($color-1)};
  --theme-first-dark: #{darken( $color-1, 15% )};
  --theme-first-light: #{lighten( $color-1, 15% )};

  /** Main colour for small interactive UI components */
  --theme-second: #{$color-2};
  --theme-second-rgb: #{hexToRGB($color-2)};
  --theme-second-dark: #{darken( $color-2, 15% )};
  --theme-second-light: #{lighten( $color-2, 15% )};

  /** Contrast colour for non interactive UI compoonents */
  --theme-third: #{$color-3};
  --theme-third-rgb: #{hexToRGB($color-3)};
  --theme-third-dark: #{darken( $color-3, 8% )};
  --theme-third-light: #{lighten( $color-3, 20% )};

  /** Other colours */
  --theme-background: #fff;
  --theme-background-rgb: #{hexToRGB(#fff)};
  --theme-control-background: #fff;
  --theme-control-background-rgb: #{hexToRGB(#fff)};
  --theme-control-disabled-opacity: 0.6;
  --theme-control-focus: var( --theme-first );
  --theme-info-background: #{lighten( $color-info, 25% )};
  --theme-success-background: #{lighten( $color-success, 35% )};
  --theme-warning-background: #{lighten( $color-warning, 25% )};
  --theme-error-background: #{lighten( $color-error, 32% )};
  --theme-disabled: var( --theme-second-light );
  --theme-disabled-background: var( --theme-third-light );
  --theme-disabled-background-rgb: #{hexToRGB( lighten( $color-3, 15% ) )};
  --theme-shadow-color: lightgrey;
  --theme-mask-color: rgba(0,0,0,0.2);
  --theme-mask-filter: blur(5px) brightness(80%);

  /** Font family and colour */
  --theme-text-size: 0.9rem;
  --theme-font-family: sans-serif;
  --theme-text-dark: var( --theme-second-dark );
  --theme-text-disabled: grey;
  --theme-text-light: white;
  --theme-text-input: black;
  --theme-text-info: #{$color-info};
  --theme-text-error: #{$color-error};
  --theme-text-success: #{$color-success};
  --theme-text-warning: #{$color-warning};

  /** Shape and size variables */
  --theme-space-size: 0.4rem;
  --theme-control-size: 1.25rem;
  --theme-control-padding: 0.35rem;
  --theme-border-radius: 0.25rem;
  --theme-border-thickness: 2px;
  --theme-shadow-size: 0.3rem;
  --theme-focus-size: 0.1rem;
  --theme-animation-duration: 0.5s;
  --theme-animation-quick-duration: 0.08s;
}


body.dark {

  a {
    color: lightskyblue;
  }

  a:visited {
    color: cornflowerblue;
  }

  /** Main colour for large interactive UI components */
  --theme-first: #{$color-1-dark};
  --theme-first-rgb: #{hexToRGB($color-1-dark)};
  --theme-first-dark: #{lighten( $color-1-dark, 15% )};
  --theme-first-light: #{darken( $color-1-dark, 15% )};

  /** Main colour for small interactive UI components */
  --theme-second: #{$color-2-dark};
  --theme-second-rgb: #{hexToRGB($color-2-dark)};
  --theme-second-dark: #{lighten( $color-2-dark, 15% )};
  --theme-second-light: #{darken( $color-2-dark, 15% )};

  /** Contrast colour for non interactive UI compoonents */
  --theme-third: #{$color-3-dark};
  --theme-third-rgb: #{hexToRGB($color-3-dark)};
  --theme-third-dark: #{lighten( $color-3-dark, 15% )};
  --theme-third-light: #{darken( $color-3-dark, 15% )};

  /** Other colours */
  --theme-background: #333;
  --theme-background-rgb: #{hexToRGB(#333)};
  --theme-control-background: #555;
  --theme-control-background-rgb: #{hexToRGB(#555)};
  --theme-control-disabled-opacity: 0.6;
  --theme-control-focus: var( --theme-first );
  --theme-info-background: #{lighten( $color-info-dark, 25% )};
  --theme-success-background: #{lighten( $color-success-dark, 25% )};
  --theme-warning-background: #{lighten( $color-warning-dark, 25% )};
  --theme-error-background: #{$color-error-dark};
  --theme-disabled: var( --theme-second-light );
  --theme-disabled-background: var( --theme-third-light );
  --theme-disabled-background-rgb: #{hexToRGB( lighten( $color-3-dark, 15% ) )};
  --theme-shadow-color: #111;
  --theme-mask-color: rgba(1,1,1,0.2);
  --theme-mask-filter: blur(5px) brightness(80%);

  /** Font family and colour */
  --theme-text-size: 0.9rem;
  --theme-font-family: sans-serif;
  --theme-text-dark: #ccc;
  --theme-text-disabled: #aaa;
  --theme-text-light: #ccc;
  --theme-text-input: #ccc;
  --theme-text-info: #{$color-info-dark};
  --theme-text-error: #{lighten( $color-error-dark, 35% )};
  --theme-text-success: #{$color-success-dark};
  --theme-text-warning: #{$color-warning-dark};

  /** Shape and size variables */
  --theme-space-size: 0.4rem;
  --theme-control-size: 1.25rem;
  --theme-control-padding: 0.35rem;
  --theme-border-radius: 0.25rem;
  --theme-border-thickness: 2px;
  --theme-shadow-size: 0.3rem;
  --theme-focus-size: 0.1rem;
  --theme-animation-duration: 0.5s;
  --theme-animation-quick-duration: 0.08s;
}


/**
* Sidemenu styles
*/
sc-sidemenu {

  /** Color options */
  --sidemenu-text-color: var( --theme-text-light );
  --sidemenu-group-selected-color: var( --theme-second );
  --sidemenu-item-color: var( --theme-text-dark );
  --sidemenu-item-background: var( --theme-first );
  --sidemenu-item-hover-color: var( --theme-first-light );
  --sidemenu-item-selected-color: var( --theme-first-dark );
  --sidemenu-arrow-color: var( --theme-text-light );

  /** Font options */
  --sidemenu-text-family: var( --theme-font-family );
  --sidemenu-text-size: var( --theme-text-size );

  /** Size options */
  --sidemenu-minimised-width: calc( var( --theme-control-size ) * 2 );
  --sidemenu-maximum-width: 500px; /* Used for animation of initially-minimised menus. Must be >= actual width.*/
  --sidemenu-minimum-width: 0px;
  --sidemenu-border-thickness: var( --theme-border-thickness );
  --sidemenu-item-padding: calc( var( --theme-space-size ) * 1.15 );
  --sidemenu-item-height: var( --theme-control-size );
  --sidemenu-selected-border-size: calc( var( --theme-border-thickness ) * 2 );
  --sidemenu-group-inset-size: var( --theme-control-size );

  /** Animation options */
  --sidemenu-animation-duration: var( --theme-animation-duration );
}

/**
 * Button styles, including confirm prompt to adopt styles
 */
sc-button, sc-confirm {

  /** Colour options */
  --button-color: var( --theme-text-light ); /* foreground color */
  --button-background: var( --theme-second );
  --button-hover: var( --theme-second-light );
  --button-focus: var( --theme-control-focus ); /* outline color when focused */
  --button-active: var( --theme-second-dark );
  --button-toggled-color: var( --theme-text-light );
  --button-toggled-border: var( --theme-second );
  --button-toggled-background: var( --theme-second-light );
  --button-disabled: var( --theme-text-disabled ); /* foreground color */
  --button-disabled-background: var( --theme-disabled-background );
  --button-outline-color: var( --theme-second );
  --button-outline-background: var( --theme-third-light );
  --button-outline-active: var( --theme-third-dark );
  --button-outline-hover: var( --theme-third );
  --button-outline-hover-color: var( --theme-second-dark );
  --button-outline-active-color: var( --theme-second-dark );
  --button-outline-hover-border: var( --theme-second-dark );
  --button-outline-active-border: var( --theme-second-dark );

  /** Animation duration */
  --button-animation-duration: var( --theme-animation-quick-duration );

  /** Sizing options */
  --button-min-width: calc( var( --theme-control-size ) * 4 );
  --button-min-height: var( --theme-control-size );
  --button-padding: var( --theme-control-padding );
  --button-outside-margin: var( --theme-space-size );
  --button-focus-outline-size: var( --theme-focus-size );
  --button-big-icon-size: var( --theme-control-size );
  --button-text-side-padding: var( --theme-control-padding );

  /** Border options */
  --button-border-color: var( --theme-second );
  --button-border-radius: var( --theme-border-radius );
  --button-border-thickness: var( --theme-border-thickness );
  --button-border-disabled: var( --theme-disabled );

  /** Font options */
  --button-text-size: var( --theme-text-size );
  --button-text-family: var( --theme-font-family );
}


/**
 * Textarea styles
 */
sc-textarea {

  /** Animation durations */
  --textarea-invalid-animation-duration: calc( var( --theme-animation-duration ) * 0.5 );
  --textarea-label-animation-duration: var( --theme-animation-quick-duration );

  /** Sizing options */
  --textarea-width: calc( var( --theme-control-padding ) + ( 22 * var( --theme-control-size ) ) );
  --textarea-padding: var( --theme-control-padding );
  --textarea-outside-margin: var( --theme-space-size );
  --textarea-invalid-max-height: 50px;
  --textarea-focus-outline-size: var( --theme-focus-size );
  --textarea-line-height: var( --theme-control-size );

  /** Font options */
  --textarea-font-family: var( --theme-font-family );
  --textarea-font-size: var( --theme-text-size );
  --textarea-label-font-size: var( --theme-text-size );
  --textarea-label-small-font-size: calc( var( --theme-text-size ) * 0.75 );
  --textarea-invalid-font-size: calc( var( --theme-text-size ) * 0.8 );
  --textarea-font-color: var( --theme-text-input );

  /** Color options */
  --textarea-focus: var( --theme-control-focus );
  --textarea-placeholder-color: var( --theme-text-disabled );
  --textarea-placeholder-opacity: 0.9;
  --textarea-background-invalid: var( --theme-error-background );
  --textarea-background-disabled: var( --theme-disabled-background );
  --textarea-background-color: var( --theme-control-background );
  --textarea-invalid-color: var( --theme-text-error );
  --textarea-border-invalid: var( --theme-text-error );
  --textarea-required-color: var( --theme-text-error );
  --textarea-label-disabled-color: var( --theme-text-disabled );

  /** Border options */
  --textarea-border-radius: var( --theme-border-radius );
  --textarea-border-thickness: var( --theme-border-thickness );
  --textarea-border-color: var( --theme-second-light );
  --textarea-label-small-border-width: 0px;

}


/**
 * Input styles
 */
sc-input {

  /** Sizing options */
  --input-width: calc( 11 * var( --theme-control-size ) );
  --input-padding: var( --theme-control-padding );
  --input-outside-margin: var( --theme-space-size );
  --input-min-height: var( --theme-control-size );
  --input-invalid-max-height: 50px;
  --input-message-margin-left: calc( var( --input-padding ) * 2 );
  --input-message-margin-bottom: calc( var( --input-padding ) * 2 );
  --input-focus-outline-size: var( --theme-focus-size );
  --input-top-padding-factor: 1.1;
  --input-bottom-padding-factor: 0.9;
  --input-label-toggle-margin: calc( var( --theme-space-size ) * 3 );

  /** Font options */
  --input-font-family: var( --theme-font-family );
  --input-font-size: var( --theme-text-size );
  --input-font-color: var( --theme-text-input );
  --input-label-font-family: var( --theme-font-family );
  --input-label-font-size: var( --theme-text-size );
  --input-invalid-font-size: calc( var( --theme-text-size ) * 0.8 );
  --input-label-small-font-size: calc( var( --theme-text-size ) * 0.75 );

  /** Color options */
  --input-background-color: var( --theme-control-background );
  --input-background-disabled: var( --theme-disabled-background );
  --input-background-invalid: var( --theme-error-background );
  --input-placeholder-color: var( --theme-text-disabled );
  --input-placeholder-opacity: 0.9;
  --input-font-disabled: var( --theme-text-disabled );
  --input-required-color: var( --theme-text-error );
  --input-focus: var( --theme-control-focus );
  --input-invalid-color: var( --theme-text-error );
  --input-label-disabled-color: var( --theme-text-disabled );
  --input-label-small-background: var( --theme-control-background );

  /** Border options */
  --input-border-color: var( --theme-second-light );
  --input-border-radius: var( --theme-border-radius );
  --input-border-thickness: var( --theme-border-thickness );
  --input-border-invalid: var( --theme-text-error );
  --input-label-small-border-width: 0px;

  /** Picker options */
  --input-picker-margin: calc( var( --theme-control-size ) );
  --input-picker-icon-size: calc( var( --theme-control-size ) * 0.75 );
  --input-picker-icon-margin: var( --theme-control-padding );
  --input-picker-disabled-color: var( --theme-text-disabled );
  --input-icon-background: var( --theme-third-light );

  /** Animation options */
  --input-invalid-animation-duration: calc( var( --theme-animation-duration ) / 2 );
  --input-label-animation-duration: var( --theme-animation-quick-duration );

  /** Toggle options */
  --input-toggle-width: calc( var( --theme-control-size ) * 3 );
  --input-toggle-label-right-padding: calc( var( --theme-control-size ) * 1.5 );
  --input-toggle-border-thickness: 1px;
  --input-toggle-border-color: var( --theme-second-light );
  --input-toggle-thumb-off-color: var( --theme-second );
  --input-toggle-thumb-on-color: var( --theme-second-dark );
  --input-toggle-thumb-unset-color: var( --theme-second-light );
  --input-toggle-thumb-disabled-color: var( --theme-third-light );
  --input-toggle-off-background: var( --theme-third-light );
  --input-toggle-on-background: var( --theme-third-light );
  --input-toggle-disabled-background: var( --theme-disabled-background );
  --input-toggle-invalid-background: var( --theme-error-background );
  --input-toggle-off-opacity: 0.5;
  --input-toggle-animation-duration: var( --theme-animation-quick-duration );

  /** Checkbox options */
  --input-checkbox-width: calc( var( --theme-control-size ) * 1.3 );
  --input-checkbox-border-thickness: var( --theme-border-thickness );
  --input-checkbox-border-radius: var( --theme-border-radius );
  --input-checkbox-border-color: var( --theme-third-dark );
  --input-checkbox-disabled-background: var( --theme-disabled-background );
  --input-checkbox-label-right-padding: calc( var( --theme-control-size ) * 1.5 );
  --input-checkbox-check-thickness: calc( var( --theme-border-thickness ) * 1.5 );
  --input-checkbox-check-size: calc( var( --theme-control-size ) * 0.6 );
  --input-checkbox-check-nudge-left: calc( var( --theme-control-size ) * 0.35 );
  --input-checkbox-check-nudge-top: calc( var( --theme-control-size ) * 0.1 );
  --input-checkbox-check-color: var( --theme-second-dark );
  --input-checkbox-disabled-color: var( --theme-disabled );
  --input-checkbox-disabled-opacity: var( --theme-control-disabled-opacity );
  --input-checkbox-unchecked-background: var( --theme-third-light );
  --input-checkbox-checked-background: var( --theme-third-light );
  --input-checkbox-invalid-background: var( --theme-error-background );
  --input-checkbox-animation-duration: var( --theme-animation-quick-duration );

  /** Radio options */
  --input-radio-width: calc( var( --theme-control-size ) * 1.3 );
  --input-radio-border-thickness: var( --theme-border-thickness );
  --input-radio-border-radius: var( --theme-border-radius );
  --input-radio-border-color: var( --theme-third-dark );
  --input-radio-disabled-background: var( --theme-disabled-background );
  --input-radio-label-right-padding: calc( var( --theme-control-size ) * 1.5 );
  --input-radio-dot-width: calc( var( --theme-control-size ) * 0.5 );
  --input-radio-dot-color: var( --theme-second-dark );
  --input-radio-disabled-color: var( --theme-disabled );
  --input-radio-disabled-opacity: var( --theme-control-disabled-opacity );
  --input-radio-unchecked-background: var( --theme-third-light );
  --input-radio-checked-background: var( --theme-third-light );
  --input-radio-invalid-background: var( --theme-error-background );
  --input-radio-animation-duration: var( --theme-animation-quick-duration );

  /** Toggle button options */
  --input-button-min-width: calc( var( --theme-control-size ) * 3 );
  --input-button-border-thickness: var( --theme-border-thickness );
  --input-button-border-radius: var( --theme-border-radius );
  --input-button-border-color: var( --theme-third-dark );
  --input-button-unchecked-background: var( --theme-third-light );
  --input-button-checked-background: var( --theme-third-light );
}



/**
 * Select styles
 */
sc-select, sc-select-list, sc-select-option {

  /** Sizing options */
  --select-grow: 0; /* Flex grow factor for host element*/
  --select-padding: var( --theme-control-padding );
  --select-width: calc( 11 * var( --theme-control-size ) );
  --select-outside-margin: var( --theme-space-size );
  --select-min-height: var( --theme-control-size ); /* display value min height */
  --select-message-margin: calc( var( --theme-control-padding ) * 2 );
  --select-focus-outline-size: var( --theme-focus-size );
  --select-invalid-max-height: 50px;
  --select-label-small-border-width: 0px;
  --select-button-size: var( --theme-control-size );
  --select-option-padding: 0px;
  --select-options-min-width: calc( var( --select-width ) - 2 * var( --select-outside-margin ) );
  --select-options-shadow-size: var( --theme-shadow-size );
  --select-options-max-height: calc( 20 * var( --theme-control-size ) );
  --select-options-nudge-top: calc( var( --theme-space-size ) * 0.5 * -1 ); /* space between control and options panel */
  --select-option-height: calc( var( --select-min-height ) + var( --select-padding ) * 2 );
  --select-value-tag-padding: var( --theme-control-padding );
  --select-value-tag-margin: var( --theme-control-padding );
  --select-list-height: calc( var( --theme-control-size ) * 10 );


  /** Color options */
  --select-required-color: var( --theme-text-error );
  --select-background-color: var( --theme-control-background );
  --select-background-disabled: var( --theme-disabled-background );
  --select-placeholder-color: var( --theme-text-disabled );
  --select-placeholder-opacity: 0.9;
  --select-focus: var( --theme-control-focus );
  --select-invalid-color: var( --theme-text-error );
  --select-label-disabled-color: var( --theme-text-disabled );
  --select-button-color: var( --theme-second-dark );
  --select-button-hover-background: var( --theme-second-light );
  --select-button-hover-invalid-background: var( --theme-error-background );
  --select-value-tag-background: var( --theme-third-light );
  --select-value-fade-background: rgba(var(--theme-control-background-rgb), 1); /* opaque background */
  --select-value-fade-background-faded: rgba(var(--theme-control-background-rgb), 0); /* transparent background */
  --select-value-fade-background-disabled: rgba(var(--theme-control-disabled-rgb), 1); /* disabled opaque background */
  --select-value-fade-background-disabled-faded: rgba(var(--theme-control-disabled-rgb), 0); /* disabled transparent background */
  --select-option-selected-background: var( --theme-second-light );
  --select-option-hover-background: var( --theme-third-light );
  --select-option-selected-hover-brightness: 1.15;
  --select-options-shadow-color: var( --theme-shadow-color );
  --select-options-background: var( --theme-control-background );


  /** Font options */
  --select-text-size: var( --theme-text-size );
  --select-text-color: var( --theme-text-input );
  --select-invalid-text-size: calc( var( --theme-text-size ) * 0.8 );
  --select-label-text-size: var( --theme-text-size );
  --select-label-small-text-size: calc( var( --theme-text-size ) * 0.75 );


  /** Border options */
  --select-border-color: var( --theme-second-light );
  --select-border-radius: var( --theme-border-radius );
  --select-border-thickness: var( --theme-border-thickness );
  --select-border-invalid: var( --theme-text-error );
  --select-value-tag-border-radius: var( --theme-border-radius );
  --select-value-tag-border-thickness: 1px;
  --select-value-tag-border-color: var( --theme-second-light );


  /** Animation options */
  --select-invalid-animation-duration: 0.3s;
  --select-label-animation-duration: var( --theme-animation-quick-duration );
  --select-option-animation-duration: var( --theme-animation-quick-duration );

}


/**
 * Tab styles
 */
sc-tabs, sc-tab {

  /** Sizing options */
  --tab-label-height: calc( var( --theme-control-size ) * 2 );
  --tab-label-min-width: calc( var( --theme-control-size ) * 4 );
  --tab-label-max-width: calc( var( --theme-control-size ) * 6 );
  --tab-label-space-size: calc( var( --theme-space-size ) * 0.75 );
  --tab-content-margin: var( --theme-control-padding );

  /** Border options */
  --tabs-border-radius: var( --theme-border-radius );
  --tabs-border-size: var( --theme-border-thickness );
  --tabs-border-color: var( --theme-first );
  --tab-label-border-size: calc( var( --theme-border-thickness ) * 2 );
  --tab-label-border-radius: var( --theme-border-radius );

  /** Color options */
  --tab-label-background: var( --theme-first-light );
  --tab-label-color: var( --theme-text-dark );
  --tab-label-selected-background: var( --theme-first );
  --tab-label-selected-color: var( --theme-text-light );
  --tab-label-selected-bar-color: var( --theme-first );
  --tab-content-background: var( --theme-control-background );
  --tab-shadow-color: var( --theme-shadow-color );

}


/**
 * Popup styles
 */
sc-popup, sc-confirm {

  /** Sizing options */
  --popup-header-margin: var( --theme-control-padding );
  --popup-header-padding: var( --theme-control-padding );
  --popup-body-padding: calc( var( --theme-control-padding ) * 1.5 );
  --popup-footer-padding: var( --theme-control-padding );
  --popup-close-button-size: var( --theme-control-size );
  --popup-max-height: 90vh;
  --popup-max-width: 90vw;


  /** Color options */
  --popup-mask-color: var( --theme-mask-color );
  --popup-mask-filter: var( --theme-mask-filter );
  --popup-content-background: var( --theme-control-background );

  /** Font options */
  --popup-header-font-size: large;
  --popup-header-font-family: var( --theme-font-family );

  /** Border options */
  --popup-border-thickness: var( --theme-border-thickness );
  --popup-border-color: var( --theme-second );
  --popup-border-radius: var( --theme-border-radius );
  --popup-header-underline-color: var( --theme-second );
  --popup-header-underline-thickness: var( --theme-border-thickness );
  --popup-box-shadow-size: var( --theme-shadow-size );
  --popup-box-shadow-color: var( --theme-shadow-color );

  /** Animation options */
  --popup-animation-duration: calc( var( --theme-animation-duration ) / 2 );
}


/**
 * Slideout styles
 */
sc-slideout {

  /** Sizing options */
  --slideout-header-size: calc( var(--theme-control-size) * 1.5 );
  --slideout-header-margin: calc( var( --theme-space-size ) * 1.5 );
  --slideout-header-padding: calc( var( --theme-control-padding ) * 1.5 );
  --slideout-content-padding: calc( var( --theme-control-padding ) * 1.5 );
  --slideout-close-size: calc( var(--theme-control-size) * 1.5 );
  --slideout-close-padding: var( --theme-control-padding );
  --slideout-close-margin: var( --theme-space-size );
  --slideout-resize-bar-size: calc( var( --theme-control-size ) / 2.5 );
  --slideout-resize-bar-margin: var( --theme-control-padding );


  /** Color options */
  --slideout-content-background: var( --theme-control-background );
  --slideout-mask-color: var( --theme-mask-color );
  --slideout-mask-filter: var( --theme-mask-filter );
  --slideout-close-hover-color: var( --theme-third-light );
  --slideout-close-active-color: var( --theme-third );
  --slideout-header-underline-color: var( --theme-second );
  --slideout-resize-bar-background: var( --theme-third-light );


  /** Font options */
  --slideout-header-font-family: var( --theme-font-family );


  /** Border options */
  --slideout-border-size: var( --theme-border-thickness );
  --slideout-border-color: var( --theme-second );
  --slideout-border-radius: var( --theme-border-radius );
  --slideout-box-shadow-color: var( --theme-shadow-color );
  --slideout-box-shadow-size: var( --theme-shadow-size );


  /** Animation options */
  --slideout-animation-duration: var( --theme-animation-duration );

}


/**
  * Accordion styles
 */
sc-accordion-group, sc-accordion {

  /** Sizing options */
  --accordion-margin: var( --theme-space-size );
  --accordion-bar-padding: var( --theme-control-padding );
  --accordion-min-height: var( --theme-control-size ); /* Bar minimum height */
  --accordion-content-side-padding: var( --theme-control-padding );

  /** Border options */
  --accordion-bar-border-radius: var( --theme-border-radius );
  --accordion-bar-border-open-color: var( --theme-first-light );
  --accordion-bar-border-color: var( --theme-first );
  --accordion-bar-border-thickness-top: var( --theme-border-thickness );
  --accordion-bar-border-thickness-bottom: var( --theme-border-thickness );
  --accordion-bar-border-thickness-left: var( --theme-border-thickness );
  --accordion-bar-border-thickness-right: var( --theme-border-thickness );
  --accordion-content-border-radius: var( --theme-border-radius );
  --accordion-content-border-thickness: var( --theme-border-thickness );
  --accordion-content-border-color: var( --theme-first-light );


  /** Color options */
  --accordion-bar-background: var( --theme-first );
  --accordion-bar-color: var( --theme-text-light );
  --accordion-bar-open-color: var( --theme-text-light );
  --accordion-bar-open-background: var( --theme-first-light );
  --accordion-content-background: var( --theme-control-background );

  /** Font options */
  --accordion-bar-font: normal var( --theme-text-size ) var( --theme-font-family );

  /** Animation options */
  --accordion-animation-duration: var( --theme-animation-duration );

}


/**
 * Alert styles
 */
sc-alert {

  /** Color options */
  --alert-info-background: var( --theme-info-background );
  --alert-task-background: var( --theme-info-background );
  --alert-success-background: var( --theme-success-background );
  --alert-warning-background: var( --theme-warning-background );
  --alert-error-background: var( --theme-error-background );
  --alert-info-color: var( --theme-text-info );
  --alert-task-color: var( --theme-text-info );
  --alert-error-color: var( --theme-text-error );
  --alert-warning-color: var( --theme-text-warning );
  --alert-success-color: var( --theme-text-success );
  --alert-flash-contrast: 0.4;
  --alert-flash-brightness: 2;

  /** Animation options */
  --alert-show-time: calc( var( --theme-animation-duration ) * 0.75 );
  --alert-hide-time: calc( var( --theme-animation-duration ) * 0.75 );
  --alert-show-style-wrap: slideIn;         /* Default reveal transform animation name */
  --alert-show-style-sizing: unset;         /* Default reveal sizing animation name */
  --alert-show-time-wrap: var( --alert-show-time ); /* Default reveal transform duration */
  --alert-show-time-sizing: unset;          /* Default reveal sizing duration */
  --alert-show-timing-wrap: initial;        /* Default reveal transform timing function */
  --alert-show-timing-sizing: initial;      /* Default reveal sizing timing function */
  --alert-hide-style-wrap: rollUp;          /* Default hide transform animation name */
  --alert-hide-style-sizing: rollUp;        /* Default hide sizing animation name */
  --alert-hide-time-wrap: var( --alert-hide-time ); /* Default hide transform duration */
  --alert-hide-time-sizing: var( --alert-hide-time ); /* Default hide sizing duration */
  --alert-hide-timing-wrap: initial;        /* Default hide transform timing function */
  --alert-hide-timing-sizing: initial;      /* Default hide sizing timing function */
  --alert-flash-duration: var( --theme-animation-quick-duration );

  /** Sizing options */
  --alert-height: calc( var( --theme-control-size ) * 5 );
  --alert-icon-space: var( --theme-space-size );
  --alert-icon-size: var( --theme-control-size );
  --alert-message-padding: 0.2em;
  --alert-outside-margin: var( --theme-space-size );

  /** Border options */
  --alert-border-thickness: var( --theme-border-thickness );
  --alert-border-radius: var( --theme-border-radius );
  --alert-box-shadow-offset-y: var( --theme-shadow-size );
  --alert-box-shadow-offset-x: var( --theme-shadow-size );
  --alert-box-shadow-blur: var( --theme-shadow-size );
  --alert-box-shadow-color: var( --theme-shadow-color );

}


/**
 * Menu styles
 */
sc-menu-top, sc-menu-group, sc-menu-item {

  /** Animation options */
  --menu-animation-duration: var( --theme-animation-quick-duration );

  /** Sizing options */
  --menu-button-width: calc( var( --theme-control-size ) * 0.875 ); /* specific ratio for chosen button svg */
  --menu-button-height: var( --theme-control-size );
  --menu-button-padding-vert: var( --theme-control-padding );
  --menu-button-padding-side: calc( var( --theme-control-padding ) * 1.5 );
  --menu-button-margin: var( --theme-space-size );
  --menu-group-min-width: calc( var( --theme-control-size ) * 3 );
  --menu-group-min-height: var( --theme-control-size );
  --menu-group-padding: var( --theme-control-padding );
  --menu-block-depth-indent: var( --theme-control-size );
  --menu-item-padding: var( --theme-control-padding );
  --menu-popup-padding: var( --theme-control-padding );
  --menu-popup-min-width: calc( var( --theme-control-size ) * 3 );
  --menu-popup-min-height: var( --theme-control-size );


  /** Color options */
  --menu-text-color: var( --theme-text-light );
  --menu-disabled-color: var( --theme-text-disabled );
  --menu-top-background: var( --theme-first );
  --menu-button-hover-color: var( --theme-third-dark );
  --menu-button-active-color: var( --theme-second-dark );
  --menu-button-background: var( --theme-third-light );
  --menu-button-border-color: var( --theme-second );
  --menu-group-hover-color: var( --theme-first-dark );
  --menu-item-background: var( --theme-first );
  --menu-item-selected-color: var( --theme-first-light );
  --menu-item-hover-color: var( --theme-first-dark );
  --menu-popup-background: var( --theme-first );
  --menu-popup-disabled: var( --theme-first );


  /** Font options */
  --menu-group-text-size: var( --theme-text-size );
  --menu-item-text-size: var( --theme-text-size );


  /** Border options */
  --menu-border-width: var( --theme-border-thickness );
  --menu-border-radius: var( --theme-border-radius );
  --menu-popup-border-color: var( --theme-first-dark );
  --menu-popup-border-radius: var( --theme-border-radius );

}


/**
 * Table styles
 */
sc-table {

  /** Animation options */
  --table-animation-duration: var( --theme-animation-quick-duration );
  --table-search-animation-duration: calc( var( --theme-animation-duration ) / 2 );


  /** Sizing options */
  --table-text-size: var( --theme-text-size );
  --table-heading-size: calc( var( --theme-text-size ) * 1.1 );
  --table-header-size: calc( var( --theme-control-size ) * 1.5 );
  --table-control-margin: var( --theme-control-padding );
  --table-sort-number-size: calc( var( --theme-text-size ) / 1.5 );
  --table-sort-icon-size: var( --theme-text-size );
  --table-sort-icon-left-margin: calc( var( --theme-control-padding ) * 1.5 );
  --table-search-icon-size: var( --theme-control-size );
  --table-search-icon-margin: var( --theme-control-padding );


  /** Color options */
  --table-row-selected: var( --theme-second-light );
  --table-stripe-background: var( --theme-third-light );
  --table-header-background: var( --theme-third-light );
  --table-border-color: var( --theme-shadow-color );
  --table-cell-border-color: var( --theme-shadow-color );
  --table-disabled-opacity: var( --theme-control-disabled-opacity );
  --table-toolbar-background: var( --theme-first-light );


  /** Border options */
  --table-border-size: calc( var( --theme-border-thickness ) * 0.5 );
  --table-border-radius: var( --theme-border-radius );
  --table-cell-border-size: calc( var( --theme-border-thickness ) * 0.5 );
  --table-cell-border-right-size: 0px;
  --table-bar-margin: calc( var( --theme-space-size ) * 1.5 );
  --table-cell-padding: var( --theme-control-padding );
  --table-scrollbar-padding: 0px;


  /** Search control options */
  --table-search-header-border-thickness: calc( var( --theme-border-thickness ) * 1 );
  --table-search-header-border-color: var( --theme-second );
  --table-search-header-border-radius: var( --theme-border-radius );
  --table-search-header-color: var( --theme-text-color );
  --table-search-header-font-size: var( --theme-text-size );
  --table-search-header-margin: var( --theme-control-padding );
  --table-search-header-focus: var( --theme-first );
  --table-search-column-border-thickness: calc( var( --theme-border-thickness ) * 1 );
  --table-search-column-border-color: var( --theme-second );
  --table-search-column-border-radius: var( --theme-border-radius );
  --table-search-column-color: var( --theme-text-color );
  --table-search-column-font-size: var( --theme-text-size );
  --table-search-column-max-size: calc( var( --theme-control-size ) * 10 );
  --table-search-column-margin: var( --theme-control-padding );
  --table-search-column-focus: var( --theme-first );


  /** Pagination and range control options */
  --table-control-border-radius: var( --theme-border-radius );
  --table-control-border-color: var( --theme-second-light );
  --table-control-border-thickness: var( --theme-border-thickness );
  --table-control-color: var( --theme-text-dark );
  --table-control-background: var( --theme-third-light );
  --table-control-hover-background: var( --theme-third );
  --table-control-size: var( --theme-control-sizing );
  --table-control-width: calc( var( --theme-control-size ) * 1.5 );
  --table-control-padding: calc( var( --theme-control-padding ) );
  --table-control-disabled-opacity: 0.6;
  --table-control-outline-size: var( --theme-focus-size );
  --table-control-outline-color: var( --theme-control-focus );

}


/**
 * List styles
 */
sc-list, sc-list-item {

  /** Sizing options */
  --list-margin: var( --theme-control-padding );
  --list-height: calc( var( --theme-control-size ) * 10 );
  --list-width: calc( 11 * var( --theme-control-size ) );
  --list-item-padding: var( --theme-control-padding );
  --list-item-min-height: calc( var( --theme-control-size ) + var( --theme-control-padding ) * 2 );

  /** Color options */
  --list-disabled-opacity: var( --theme-control-disabled-opacity );
  --list-item-hover-color: var( --theme-third-light );
  --list-item-selected-color: var( --theme-second-light );
  --list-item-selected-hover-brightness: 1.15;

  /** Border options */
  --list-border-color: var( --theme-second-light );
  --list-border-radius: var( --theme-border-radius );
  --list-border-thickness: var( --theme-border-thickness );

}


/**
 * Carousel styles
 */
sc-carousel {

  /** Shadow theme options */
  --carousel-shadow-button-width: 10px;
  --carousel-shadow-button-height: 60px;
  --carousel-shadow-button-show-width: 50px;
  --carousel-shadow-button-arrow-size: 20px;
  --carousel-shadow-button-arrow-color: #fff;
  --carousel-shadow-button-background: #000;
  --carousel-shadow-button-opacity: 0.5;
  --carousel-shadow-button-show-opacity: 0.75;
  --carousel-shadow-button-animation-duration: 0.25s;

  /** Circle theme options */
  --carousel-circle-button-background: #000;
  --carousel-circle-button-arrow-color: #fff;
  --carousel-circle-button-height: 30px;
  --carousel-circle-button-width: 30px;
  --carousel-circle-button-inset: 20px;
  --carousel-circle-button-arrow-size: 40%;
  --carousel-circle-button-arrow-nudge: 5%;
  --carousel-circle-button-opacity: 0.5;
  --carousel-circle-button-show-opacity: 0.8;
  --carousel-circle-place-dot-size: 10px;
  --carousel-circle-place-dot-border: 3px;
  --carousel-circle-place-dot-top: 90%;

  /** Animation duration */
  --carousel-animation-duration: var( --theme-animation-duration );
}

/**
 * Busy mask styles
 */
sc-form, sc-list, sc-table, sc-busy {

  /** Busy mask styles */
  --busy-mask-filter: brightness( 90% );
  --busy-mask-border-radius: var( --theme-border-radius );
  --busy-spinner-size: 2.5em;
  --busy-spinner-width: 0.4em;
  --busy-spinner-color: var( --theme-first );
  --busy-spinner-shade-color: var( --theme-control-background );
  --busy-spinner-speed: 1s;
}




body {
  min-height:100%;
  margin: 0px;
  width: 100%;
  font-family: var( --theme-font-family );
  font-size: var( --theme-text-size );
  color: var( --theme-text-dark );
}

body.sc-popup-modal {
  overflow: hidden;
}


h1.lined,
h2.lined,
h3.lined,
h4.lined {
  width: 100%;
  border-bottom-style: solid;
  border-width: var( --theme-border-thickness );
  border-image: linear-gradient( to right, var( --theme-second-light ), var( --theme-control-background ) ) 30;
  margin-top: calc( var( --theme-space-size ) * 6 );
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
h1.lined sc-input,
h2.lined sc-input,
h3.lined sc-input,
h4.lined sc-input {
  --input-width: auto;
}

h5 {
  margin: 0px;
}

sub {
  margin-left: var( --theme-space-size );
}

img {
  object-fit: cover;
}

pre {
  white-space: pre-wrap;
}

code {
  background-color: var( --theme-shadow-color );
  border-radius: var( --theme-border-radius );
}

var {
  font-family: monospace;
  font-style: normal;
}

.method code {
  margin-right: var( --theme-space-size );
}

.typedef li,
.event li,
.method li {
  display: flex;
  position: relative;
  align-items: baseline;

}

.typedef li:before,
.event li:before,
.method li:before {
  content: "•";
  left: -13px;
  position: absolute;
  font-size: 1.2rem;
}

.typedef li > div,
.event li > div,
.method li > div {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
  margin-right: 5px;
}

#model-classes-page .typedef li > div {
  min-width: 250px;
}

.typedef li var,
.event li var,
.method li var {
  margin-right: 5px;
}

#app {
  min-height: 100%;
  height: 100%; /* for firefox */
  display:grid;
  grid-template-rows:54px 1fr 50px;
  grid-template-columns: auto 1fr;
  grid-template-areas:
  "header header"
  "left right"
  "footer footer";
  margin: 0;
}

#header {
  grid-area: header;
  background-color: var( --theme-first );
  padding-left: var( --theme-space-size );
  color: var( --theme-text-light );
}

#sidemenu {
  background-color: var( --theme-first );
  height: 100%;
  grid-area: left;
  overflow: auto;
}

#main-wrap {
  display: flex;
  grid-area: right;
  color: var( --theme-text-dark );
  background-color: var( --theme-first );
  overflow: hidden;
}

#main-pane {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-left: 10px;
  background-color: var( --theme-background );
  border-radius: 10px 0px 0px 0px;
  overflow: auto;
}

#main-pane > div {
  margin-bottom: 40px;
}


#footer {
  grid-area: footer;
}

#header h2 {
  margin: 0px;
}

#header > div {
  height: 100%;
}

#header .contrast-icon {
  padding: var( --theme-space-size );
  border-radius: var( --theme-border-radius );
  margin-right: var( --theme-space-size );
  cursor: pointer;
  background-color: var( --theme-first );
}
#header .contrast-icon:hover {
  filter: brightness( 0.9 );
}
#header .contrast-icon svg {
  width: calc( var( --theme-control-size ) * 1.5 );
  height: auto;
}

.hidden {
  display: none;
}

.header {
  position: relative;
  width: 100%;
  height: 100px;
}

.header-buttons {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-row-start {
  display: flex;
  flex-direction: row;
  align-items: start;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-start {
  justify-content: flex-start;
}

.flex-end {
  justify-content: flex-end;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-center {
  align-content: center;
  justify-content: center;
}

.flex-grow {
  flex-grow: 1;
}

.my-alert-icon {
  line-height: 75px !important;
}

.image-inherit img {
  width: inherit;
  height: inherit;
}

.float-left {
  float: left;
}

.block {
  display: block;
}

.inline {
  display: inline-block;
}

.link {
  text-decoration: underline;
  cursor: pointer;
  color: LinkText;
}

.text-center {
  text-align: center;
}

.block-context {
  overflow: auto;
}

.bordered {
  border-width: var( --theme-border-thickness );
  border-style: solid;
  border-color: var( --theme-third-dark );
  border-radius: var( --theme-border-radius );
}

.codeblock {
  border-width: var( --theme-border-thickness );
  border-style: solid;
  border-color: var( --theme-third-dark );
  border-radius: var( --theme-border-radius );
  background-color: var( --theme-disabled-background );
  margin-left: var( --theme-space-size );
  max-width: 500px;
}

.codeblock pre {
  margin-left: var( --theme-space-size );
  font-size: medium;
}

.example-area {
  display: flex;
  width: calc( 100% - 20px );
}

.example-code {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: stretch;
  margin-top: calc( var( --theme-space-size ) * 2 );
}

.example-code > div {
  display: flex;
  flex-direction: column;
  align-self: center;
  height: 100%;
  flex: 1;
}

.example-code-inputs,
.example-code-output {
  flex: 1;
  display: flex;
}
.example-code-inputs {
  width: calc( 100% - 20px );
}

.example-code-outputs sc-tab,
.example-code-inputs sc-tab {
  --tab-label-height: calc( var( --theme-control-size ) * 1.5 );
}
.example-code-inputs sc-tab.invalid {
  --tabs-border-color: var( --theme-text-error );
}

.example-code-js,
.example-code-html {
  --input-border-thickness: 0px;
  --input-focus-outline-size: 0px;
  --textarea-font-size: smaller;
  --textarea-font-family: monospace;
  resize: none;
}

.example-code {
  height: 200px;
}

#selects-page .example-code {
  min-height: 250px;
}

#images-page .example-code,
#carousels-page .example-code {
  min-height: 400px;
}

#lists-page .example-code {
  min-height: 300px;
}

#menus-page .example-code {
  min-height: 350px;
}

.example-code-output {
  height: 100%;
}

.variables {
  display: flex;
  flex-direction: column;
  max-height: 600px;
}

.properties {
  display: flex;
  flex-direction: column;
  max-height: 600px;
}

.properties sc-table {
  display: flex;
  flex: 1;
  max-width: 1000px;
}

.variables sc-table {
  display: flex;
  flex: 1;
  max-width: 1500px;
}

.example-row {
  display: flex;
  flex-wrap: wrap;
  min-height: calc( var( --theme-control-size ) * 4 );
}

.example {
  display: block;
  position: relative;
  padding: 5px;
}
.examples.choose .example:hover {
  filter: brightness( 0.9 );
  background-color: var( --theme-control-background );
  border-radius: var( --theme-border-radius );
}
.examples.choose .example:hover:after {
  content: '🔍';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--theme-first);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}
.examples.choose .example * {
  pointer-events: none !important;
}

table thead {
  background-color: var( --theme-third-light );
}

table {
  width: 100%;
  max-width: 800px;
  border: var( --theme-border-thickness ) var( --theme-third ) solid;
  border-radius: var( --theme-border-radius );
}
table th {
  font-size: large;
  font-weight: normal;
  text-align: left;
}
table th, table td {
  padding: calc( var( --theme-space-size ) * 0.5 );
}
table td {
  font-size: var( --theme-text-size );
}
table tbody tr:nth-child(even) {
  background-color: var( --theme-third-light );
}

div.typedef,
ul.typedef,
div.event,
div.method {
  margin-left: calc( var( --theme-space-size ) * 1.5 );
  font-size: calc( var( --theme-text-size ) * 0.9 );
}
div.typedef > p,
ul.typedef > p,
div.method > p,
div.event > p {
  font-size: var( --theme-text-size );
}
div.methods > h4,
div.properties > h4 {
  margin-top: calc( var( --theme-space-size ) * 6 );
  margin-bottom: calc( var( --theme-space-size ) * 1.5 );
}
h3.lined + h4 {
  margin-top: calc( var( --theme-space-size ) * 3 );
}
div.event > h4,
div.method > h4 {
  margin-top: calc( var( --theme-space-size ) * 4 );
  margin-bottom: calc( var( --theme-space-size ) * 1.5 );
}
div.typedef > p,
div.typedef > ul,
div.event > p,
div.event > ul,
div.method > p,
div.method > ul {
  margin: var( --theme-space-size );
  margin-left: calc( var( --theme-space-size ) * 1.5 );
}

#popup {
  width: 300px;
}

#alerts-page .alert-tryit {
  max-width: 800px;
  display: flex;
  flex-direction: row;
}
#alert-area {
  width: 350px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
}
#example-alerts {
  flex: 1;
}
#alert-area sc-alerts {
  border: 1px dashed grey;
  border-radius: 4px;
}
#alert-buttons {
}
#alert-buttons > sc-button {
  display: block;
}

#slideouts-page .slideouts-tryit {
  display: flex;
  flex-direction: row;
}

#generals-page .busymask-tryit {
  max-width: 800px;
  height: 350px;
  display: flex;
  flex-direction: row;
}

#busymask-area {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin-left: 50px;
  overflow: hidden;
}

#busymask-area > div {
  overflow: hidden;
}

