
:host {
  display: block;
}

:host([fillheight]) {
  display: flex;
  flex-direction: column;
  min-height: 0px;
}

.sc-accordion {
  padding: var( --accordion-margin ) var( --accordion-margin ) 0px var( --accordion-margin );
}

.sc-accordion[fillheight] {
  display: flex;
  flex-direction: column;
  min-height: 0px;
}

.sc-accordion-bar {
  width: 100%;
  box-sizing: border-box;
  padding-top: calc( var( --accordion-bar-padding ) + var( --accordion-bar-border-thickness-top ) );
  padding-right: var(--accordion-bar-padding);
  padding-bottom: calc( var( --accordion-bar-padding ) + var( --accordion-bar-border-thickness-bottom ));
  padding-left: var(--accordion-bar-padding);
  min-height: var( --accordion-min-height );
  border-top: var( --accordion-bar-border-thickness-top ) solid var( --accordion-bar-border-color );
  border-bottom: var( --accordion-bar-border-thickness-bottom ) solid var( --accordion-bar-border-color );
  border-left: var( --accordion-bar-border-thickness-left ) solid var( --accordion-bar-border-color );
  border-right: var( --accordion-bar-border-thickness-right ) solid var( --accordion-bar-border-color );
  cursor: pointer;
  background-color: var( --accordion-bar-background );
  color: var( --accordion-bar-color );
  border-color: var( --accordion-bar-border-color );
  border-radius: var( --accordion-bar-border-radius );
  font: var( --accordion-bar-font );
  white-space: nowrap;
  position: relative;
  z-index: 1;
}

.sc-accordion-bar[noopen],
.sc-accordion-bar[noclose] {
  cursor: not-allowed;
}

.sc-accordion-bar[open] {
  border-color: var( --accordion-bar-border-open-color );
  color: var( --accordion-bar-open-color );
  background-color: var( --accordion-bar-open-background );
  transition: background-color calc( var( --accordion-animation-duration ) / 2 ) ease-in-out, color calc( var( --accordion-animation-duration ) / 2 ) ease-in-out, border-color calc( var( --accordion-animation-duration ) / 2 ) ease-in-out;
}

.sc-accordion-content-wrap {
  border: var( --accordion-content-border-thickness ) solid var( --accordion-content-border-color );
  border-radius: var( --accordion-content-border-radius );
  padding: 0px var( --accordion-content-side-padding );
  width: 100%;
  box-sizing: border-box;
  flex-grow: 1;
  overflow: auto;
}

.sc-accordion[position="top"] .sc-accordion-bar[show] {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.sc-accordion[position="bottom"] .sc-accordion-bar[show] {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.sc-accordion[position="bottom"] .sc-accordion-content,
.sc-accordion[position="bottom"] .sc-accordion-content-wrap {
  border-bottom: none;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.sc-accordion[position="top"] .sc-accordion-content-wrap {
  border-top: none;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  position: absolute;
  bottom: 0px;
}

.sc-accordion[position="top"] .sc-accordion-content {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.sc-accordion .sc-accordion-content[relpos] .sc-accordion-content-wrap,
.sc-accordion .sc-accordion-content[fillheight] .sc-accordion-content-wrap {
  position: relative;
  bottom: unset;
}

.sc-accordion-content {
  background-color: var( --accordion-content-background );
  border-radius: var( --accordion-content-border-radius );
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.sc-accordion-content[noscroll] .sc-accordion-content-wrap {
  overflow-y: hidden;
}

.sc-accordion-content[overflow] .sc-accordion-content-wrap  {
  overflow: visible;
}

.sc-accordion-content[fillheight] {
  height: 100%;
}

.sc-accordion-content[fillheight] .sc-accordion-content-wrap {
  height: 100%;
}

.sc-accordion-content[fillheight][animate] {
  height: unset;
}

.sc-accordion-content-wrap ::slotted(*) {
  object-fit: cover;
  max-width: 100%;
}

.sc-accordion-bar-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

i.arrow {
  border: solid var( --accordion-bar-color );
  border-width: 0 4px 4px 0;
  border-style: solid;
  height: var( --theme-control-padding );
  width: var( --theme-control-padding );
  transition: transform calc( var( --accordion-animation-duration ) / 2 ) ease-in-out;
}
i.arrow.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
i.arrow.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}


