
@keyframes flash {
  0% { opacity: 1; filter: contrast(1) brightness(1) }
  50% { opacity: 1; filter: contrast(var(--alert-flash-contrast)) brightness(var(--alert-flash-brightness)) }
  100% { opacity: 1; filter: contrast(1) brightness(1) }
}

@keyframes slideIn {
  0% { opacity: 0; margin-top: 100px; }
  100% {opacity: 1; margin-top: 0px; }
}

@keyframes rollUp {
  from { 
    max-height: var( --alert-height );
    min-height: var( --alert-height );
    margin-bottom: var( --alert-outside-margin );
    border-width: var( --alert-border-thickness );
  }
  to { 
    max-height: 0px;
    min-height: 0px;
    margin-bottom: 0px;
    border-width: calc( var( --alert-border-thickness ) * 0.5 );
  }
}

@keyframes popOut_1 { /* wrapper */
  0% { }
  50% {
    min-height: var( --alert-height );
    max-height: var( --alert-height ); 
    margin-bottom: var( --alert-outside-margin );
  }
  100% {
    min-height: 0px;
    max-height: 0px; 
    margin-bottom: 0px;
  }
}
@keyframes popOut_2 { /* sizing */
  0% {
    max-width: 100%; 
    min-height: var( --alert-height );
    max-height: var( --alert-height ); 
    height: var( --alert-height );
    flex-grow: 1;
    font-size: 100%
  }
  50% {
    max-width: 50%; 
    min-height: calc( var( --alert-height ) * 0.5 );
    height: calc( var( --alert-height ) * 0.5 );
    max-height: calc( var( --alert-height ) * 0.5 ); 
    flex-grow: unset;
    font-size: 50%;
    opacity: 1;
  }
  100% {
    max-width: 50%; 
    max-height: calc( var( --alert-height ) * 0.5 ); 
    min-height: calc( var( --alert-height ) * 0.5 );
    height: calc( var( --alert-height ) * 0.5 );
    font-size: 50%;
    opacity: 0;
  }
}
@keyframes slideRight {
  0% {
    margin-left: 0%;
    opacity: 1;
  }
  50% {
    margin-left: 100%;
    opacity: 0;
    margin-bottom: var( --alert-outside-margin );
    min-height: var( --alert-height );
    max-height: var( --alert-height ); 
  }
  100% {
    opacity: 0;
    margin-left: 100%;
    max-height: 0px;
    min-height: 0px;
    margin-bottom: 0px;
  }
}
@keyframes slideLeft {
  0% {
    margin-left: 0%;
    opacity: 1;
  }
  50% {
    margin-left: -100%;
    opacity: 0;
    margin-bottom: var( --alert-outside-margin );
    min-height: var( --alert-height );
    max-height: var( --alert-height ); 
  }
  100% {
    opacity: 0;
    margin-left: -100%;
    max-height: 0px;
    min-height: 0px;
    margin-bottom: 0px;
  }
}
@keyframes popIn {
  0% { 
    max-width: 50%; 
    min-height: calc( var( --alert-height ) * 0.5 );
    height: calc( var( --alert-height ) * 0.5 );
    max-height: 50%; 
    flex-grow: unset;
    font-size: 50%
  }
  100% { 
    max-width: 100%; 
    min-height: var( --alert-height );
    max-height: 100%; 
    height: var( --alert-height );
    flex-grow: 1;
    font-size: 100%
  }
}

@keyframes spin {
  0% { transform: rotate( 0deg ) }
  100% { transform: rotate( 360deg ) }
}

:host { 
  display: block;
}
.sc-alert {
  position: relative;
  min-height: var( --alert-height );
  width: 100%;
  overflow: hidden;
  pointer-events: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  animation-fill-mode: forwards;
  box-sizing: border-box;
  margin-bottom: var( --alert-outside-margin );
}
.sc-alert.defshow {
  animation-name: var( --alert-show-style-wrap );
  animation-duration: var( --alert-show-time-wrap );
  animation-timing-function: var( --alert-show-timing-wrap );
}
.sc-alert.defshow .sc-alert-sizing {
  animation-name: var( --alert-show-style-sizing );
  animation-duration: var( --alert-show-time-sizing );
  animation-timing-function: var( --alert-show-timing-sizing );
}
.sc-alert.defhide {
  animation-name: var( --alert-hide-style-wrap );
  animation-duration: var( --alert-hide-time-wrap );
  animation-timing-function: var( --alert-hide-timing-wrap );
}
.sc-alert.defhide .sc-alert-sizing {
  animation-name: var( --alert-hide-style-sizing );
  animation-duration: var( --alert-hide-time-sizing );
  animation-timing-function: var( --alert-hide-timing-sizing );
}
.sc-alert-sizing {
  display: flex;
  flex-grow: 1;
  width: 100%;
  height: var( --alert-height );
  min-height: var( --alert-height );
  overflow: hidden;
  animation-fill-mode: forwards;
}
.sc-alert-bordered {
  border-width: var( --alert-border-thickness );
  border-radius: var( --alert-border-radius );
  border-style: solid;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  width: 100%;
}
.sc-alert-body {
  border-radius: var( --alert-border-radius );
  box-sizing: border-box;
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.sc-alert.rollup[collapsed] {
  animation-name: rollUp;
  animation-duration: var( --alert-hide-time );
}
.sc-alert.rollup[collapsed] .sc-alert-sizing {
  animation-name: rollUp;
  animation-duration: var( --alert-hide-time );
}
.sc-alert.popout[collapsed] {
  animation-name: popOut_1;
  animation-duration: var( --alert-hide-time );
  justify-content: center;
}
.sc-alert.popout[collapsed] .sc-alert-sizing {
  animation-name: popOut_2;
  animation-duration: var( --alert-hide-time );
}
.sc-alert.slideright[collapsed] {
  animation-name: slideRight;
  animation-duration: calc( var( --alert-hide-time ) * 2 );
  animation-timing-function: ease-in-out;
}
.sc-alert.slideleft[collapsed] {
  animation-name: slideLeft;
  animation-duration: calc( var( --alert-hide-time ) * 2 );
  animation-timing-function: ease-in-out;
}
div.sc-alert.flash {
  animation-name: flash;
  animation-duration: var( --alert-flash-duration );
}
.sc-alert.slidein {
  animation-name: slideIn;
  animation-duration: var( --alert-show-time );
}
.sc-alert.popin {
  animation-name: unset;
  justify-content: center;
}
.sc-alert.popin .sc-alert-sizing {
  animation-name: popIn;
  animation-duration: var( --alert-show-time );
}
.sc-alert.popflash {
  animation-name: unset;
  justify-content: center;
}
.sc-alert.popflash .sc-alert-sizing {
  animation-name: popIn, flash;
  animation-duration: var( --alert-show-time ), var( --alert-flash-duration );
}
.sc-alert-title {
  padding-top: var( --theme-control-padding );
  flex-grow: 0;
  align-self: center;
  font-weight: bold;
}
.sc-alert-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.sc-alert-body {
  position: relative;
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.sc-alert-body > span {
  height: auto;
  word-break: break-word;
}
.sc-alert-icon {
  flex-grow: 0;
  flex-shrink: 0;
  padding: 0px var( --alert-icon-space );
}
.sc-alert-icon[position=middle] {
  align-self: center;
}
.sc-alert-icon[position=top] {
  align-self: start;
}
.sc-alert-icon-svg > svg,
.sc-alert-icon ::slotted(*) {
  height: var( --alert-icon-size );
  width: var( --alert-icon-size );
}
.sc-alert-icon > svg { /* edge fix */
  height: var( --alert-icon-size );
  width: var( --alert-icon-size );
  margin: 0px;
  padding: 0px;
}
.sc-alert.task .sc-alert-icon-svg > svg {
  animation: spin 1s infinite steps(8);
}
.sc-alert.task .sc-alert-bordered {
  background-color: var( --alert-task-background );
  color: var( --alert-task-color );
  border-color: var( --alert-task-color );
}
.sc-alert.info .sc-alert-bordered {
  background-color: var( --alert-info-background );
  color: var( --alert-info-color );
  border-color: var( --alert-info-color );
}
.sc-alert.success .sc-alert-bordered {
  background-color: var( --alert-success-background );
  color: var( --alert-success-color );
  border-color: var( --alert-success-color );
}
.sc-alert.warning .sc-alert-bordered {
  background-color: var( --alert-warning-background );
  color: var( --alert-warning-color );
  border-color: var( --alert-warning-color );
}
.sc-alert.error .sc-alert-bordered {
  background-color: var( --alert-error-background );
  color: var( --alert-error-color );
  border-color: var( --alert-error-color );
}

