
:host {
  display: block;
}

:host([fill]) {
  min-height: 0px;
  height: 100%;
  display: flex;
  flex: 1;
}

.sc-busy {
  position: relative;
}
.sc-busy-mask {
  border-radius: var( --busy-mask-border-radius );
  transition: opacity 0.2s ease-in-out;
  backdrop-filter: var( --busy-mask-filter ) opacity(1);
  filter: var( --busy-mask-filter );
  z-index: 1;
  position: absolute;
  pointer-events: none;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
}
.sc-busy-content {
  overflow: hidden;
  flex-grow: 1;
}
.sc-busy[flex] .sc-busy-content {
  display: flex;
  flex-direction: column;
}
.sc-busy[scroll] .sc-busy-content {
  overflow: auto;
}
.sc-busy[fill] {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.sc-busy[busy] .sc-busy-mask {
  opacity: 1;
  pointer-events: all;
}

.sc-busy-spinner-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
.sc-busy-spinner {
  display: none;
  position: relative;
  width: var( --busy-spinner-size );
  height: var( --busy-spinner-size );
  border: var( --busy-spinner-width ) solid transparent;
  border-color: var( --busy-spinner-shade-color );
  border-top-color: var( --busy-spinner-color );
  border-radius: 50%;
  animation: loadingspin var( --busy-spinner-speed ) linear infinite;
  z-index: 1;
}
.sc-busy[busy] .sc-busy-spinner-container {
  pointer-events: auto;
}
.sc-busy[busy] .sc-busy-spinner {
  display: block;
}

@keyframes loadingspin {
  100% {
      transform: rotate(360deg)
  }
}

