
:host {
  display: inline-block;
}
button {
  border: none;
  outline: none;
  padding: 0px;
  font-size: var( --button-text-size );
  font-family: var( --button-text-family );
  border-radius: var( --button-border-radius );
  margin: var( --button-outside-margin );
  pointer-events: all;
  background-color: transparent;
}
button > div {
  transition: background-color var( --button-animation-duration ), color var( --button-animation-duration );
  border: var( --button-border-color ) var( --button-border-thickness ) solid;
}
button[noanimate] {
  transition: none;
}
.sc-button-block[icon=top] {
  flex-direction: column;
}
.sc-button-block[icon=top] .sc-button-icon {
  font-size: var( --button-big-icon-size ); /* for CSS icons */
  height: var( --button-big-icon-size ); /* for SVGs */
  width: 100%;
}
.sc-button-block[icon=only] .sc-button-icon {
  font-size: var( --button-big-icon-size ); /* for CSS icons */
  height: var( --button-big-icon-size ); /* for SVGs */
  width: 100%;
}
.sc-button-block {
  min-height: var( --button-min-height );
  min-width: var( --button-min-width );
  color: var( --button-color );
  background-color: var( --button-background );
  border-radius: var( --button-border-radius );
  display: flex;
  justify-content: center;
  align-items: center; 
  padding: var( --button-padding );
  outline: none;
}
button[toggled] .sc-button-block {
  color: var( --button-toggled-color );
  background-color: var( --button-toggled-background );
  border-color: var( --button-toggled-border );
}
button[toggled] > div:active {
  background-color: var( --button-active );
}
span {
  padding-left: var( --button-text-side-padding );
  padding-right: var( --button-text-side-padding );
  display: inline-block;
}
span:focus {
  outline: none;
}
i:focus {
  outline: none;
}
button[disabled] {
  pointer-events: none;
}
button[disabled] > div {
  color: var( --button-disabled );
  background-color: var( --button-disabled-background );
  border: var( --button-border-disabled ) var( --button-border-thickness ) solid;
}
button[disabled] > div:active {
  background-color: var( --button-disabled-background );
}
button:focus {
  box-shadow: 0 0 var( --button-focus-outline-size ) var( --button-focus-outline-size ) var( --button-focus );
}
button[hover] > div:hover {
  background-color: var( --button-hover );
}
button[hover][disabled] > div:hover {
  background-color: var( --button-disabled-background );
}
button[hover][disabled] > div {
  background-color: var( --button-disabled-background );
}
button[hover] > div:active {
  background-color: var( --button-active );
}
button > div:active {
  background-color: var( --button-active );
}
button[outline] {
  background: none;
}
button[outline][hover] > div:hover {
  background-color: var( --button-outline-hover );
  color: var( --button-outline-hover-color );
  border-color: var( --button-outline-hover-border );
}
button[outline][hover] > div:active {
  background-color: var( --button-outline-active );
  color: var( --button-outline-active-color );
  border-color: var( --button-outline-active-border );
}
button[outline] > div:active {
  background-color: var( --button-outline-active );
  color: var( --button-outline-active-color );
}
button[outline][disabled] > div {
  color: var( --button-disabled );
  border: var( --button-border-disabled ) var( --button-border-thickness ) solid;
}
button[outline] > div {
  background-color: var( --button-outline-background );
  color: var( --button-outline-color );
  border: var( --button-outline-color ) var( --button-border-thickness ) solid;
  border-radius: var( --button-border-radius );
}

