:host([fill]) {
  height: 100%;
  flex-grow: 1;
}

.sc-carousel-container {
  position: relative; /* allows positioning of controls */
  overflow: hidden;
  transition-property: width, height;
  transition-duration: var( --carousel-animation-duration );
  transition-timing-function: ease-in-out;
  display: flex;
}
.sc-carousel-container[fill] {
  height: 100%;
  width: 100%;
}
.sc-carousel-panels {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: visible;
  max-width: 100%;
  max-height: 100%;

}
.sc-carousel-panels[panelalign=center] {
  align-items: center;
}
.sc-carousel-panels[panelalign=start] {
  align-items: flex-start;
}
.sc-carousel-panels[panelalign=end] {
  align-items: flex-end;
}
.sc-carousel-panels[willscroll] {
  overflow: auto;
  scrollbar-gutter: stable;
  justify-content: start;
  align-items: start;
}
.sc-carousel-container .sc-carousel-panels.hidescroll {
  overflow-x: hidden;
}
.sc-carousel-panels ::slotted(*) {
  object-fit: cover;
  max-width: 100%;
}
.sc-carousel-panels[fill] ::slotted(*) {
  flex: 1;
}

/* shadow buttons */
.sc-carousel-shadow-button-previous {
  background-color: var( --carousel-shadow-button-background );
  width: 0px;
  height: var( --carousel-shadow-button-height );
  position: absolute;
  border-radius: 0 50% 50% 0;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  transition: width var( --carousel-shadow-button-animation-duration ) ease-in-out;
  opacity: var( --carousel-shadow-button-opacity );
}
.sc-carousel-shadow-button-next {
  background-color: var( --carousel-shadow-button-background );
  height: var( --carousel-shadow-button-height );
  width: 0px;
  position: absolute;
  border-radius: 50% 0 0 50%;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  transition: width var( --carousel-shadow-button-animation-duration ) ease-in-out;
  opacity: var( --carousel-shadow-button-opacity );
}
.sc-carousel-shadow-button-previous[show] {
  width: var( --carousel-shadow-button-width );
}
.sc-carousel-shadow-button-next[show] {
  width: var( --carousel-shadow-button-width );
}
.sc-carousel-shadow[reveal] .sc-carousel-shadow-button-previous[show] {
  width: var( --carousel-shadow-button-show-width );
  border-radius: 0 20% 20% 0;
  opacity: var( --carousel-shadow-button-show-opacity );
  cursor: pointer;
}
.sc-carousel-shadow[reveal] .sc-carousel-shadow-button-next[show] {
  width: var( --carousel-shadow-button-show-width );
  border-radius: 20% 0 0 20%;
  opacity: var( --carousel-shadow-button-show-opacity );
  cursor: pointer;
}
.sc-carousel-shadow .arrow-previous {
  width: 0;
  height: var( --carousel-shadow-button-arrow-size );
  position: absolute;
  border: solid var( --carousel-shadow-button-arrow-color ) 4px;
  border-top: 0px;
  border-right: 0px;
  top: 50%;
  left: 30%;
  transform: translateY(-50%) rotate(45deg);
  opacity: 0;
}
.sc-carousel-shadow .arrow-next {
  width: 0;
  height: var( --carousel-shadow-button-arrow-size );
  position: absolute;
  border: solid var( --carousel-shadow-button-arrow-color ) 4px;
  border-bottom: 0px;
  border-left: 0px;
  top: 50%;
  right: 30%;
  transform: translateY(-50%) rotate(45deg);
  opacity: 0;
}
.sc-carousel-shadow[reveal] .sc-carousel-shadow-button-previous[show] .arrow-previous {
  opacity: 1;
  width: var( --carousel-shadow-button-arrow-size );
  transition: opacity var( --carousel-animation-duration ) linear;;
}
.sc-carousel-shadow[reveal] .sc-carousel-shadow-button-next[show] .arrow-next {
  opacity: 1;
  width: var( --carousel-shadow-button-arrow-size );
  transition: opacity var( --carousel-animation-duration ) linear;;
}

/* Circle buttons */
.sc-carousel-circles-previous {
  background-color: var( --carousel-circle-button-background );
  width: 0px;
  height: var( --carousel-circle-button-height );
  width: var( --carousel-circle-button-width );
  position: absolute;
  border-radius: 50%;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  left: var( --carousel-circle-button-inset );
  opacity: var( --carousel-circle-button-opacity );
}
.sc-carousel-circles-next {
  background-color: var( --carousel-circle-button-background );
  height: var( --carousel-circle-button-height );
  width: var( --carousel-circle-button-width );
  position: absolute;
  border-radius: 50%;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  right: var( --carousel-circle-button-inset );
  opacity: var( --carousel-circle-button-opacity );
}
.sc-carousel-circles[reveal] .sc-carousel-circles-previous[show] {
  opacity: var( --carousel-circle-button-show-opacity );
  cursor: pointer;
}
.sc-carousel-circles[reveal] .sc-carousel-circles-next[show] {
  opacity: var( --carousel-circle-button-show-opacity );
  cursor: pointer;
}
.sc-carousel-circles .arrow-previous {
  height: var( --carousel-circle-button-arrow-size );
  width: var( --carousel-circle-button-arrow-size);
  box-sizing: border-box;
  position: relative;
  border: solid var( --carousel-circle-button-arrow-color ) 4px;
  border-top: 0px;
  border-right: 0px;
  left: var( --carousel-circle-button-arrow-nudge );
  transform: rotate(45deg);
}
.sc-carousel-circles .arrow-next {
  height: var( --carousel-circle-button-arrow-size );
  width: var( --carousel-circle-button-arrow-size);
  box-sizing: border-box;
  position: relative;
  border: solid var( --carousel-circle-button-arrow-color ) 4px;
  border-bottom: 0px;
  border-left: 0px;
  right: var( --carousel-circle-button-arrow-nudge );
  transform: rotate(45deg);
}
.sc-carousel-circles-place {
  position: absolute;
  top: var( --carousel-circle-place-dot-top );
  left: 0px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sc-carousel-circles-place-dot {
  height: var( --carousel-circle-place-dot-size );
  width: var( --carousel-circle-place-dot-size );
  border: solid var( --carousel-circle-button-arrow-color ) var( --carousel-circle-place-dot-border );
  border-radius: 50%;
  margin: 0px calc( var( --carousel-circle-place-dot-size ) / 1.5 );
  background-color: var( --carousel-circle-button-background );
  box-shadow: 0px 0px 3px var( --carousel-circle-place-dot-border ) var( --carousel-circle-button-background );
  opacity: var( --carousel-circle-button-opacity );
  cursor: pointer;
}
.sc-carousel-circles-place-dot[selected] {
  background-color: var( --carousel-circle-button-arrow-color );
  cursor: default;
}
.sc-carousel-circles[reveal] .sc-carousel-circles-place-dot {
  opacity: var( --carousel-circle-button-show-opacity ); 
}
