
:host {
  display: inline-block;
}

.sc-image-container[fit=contain] {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sc-image-container[fit=contain] img {
  object-fit: contain;
}
.sc-image-container[fit=cover] img {
  object-fit: cover;
}
img[touchzoom] {
  transition: transform 0.08s linear; /* make pan motions fluid */
  max-height: 100%;
}
