
:host {
  display: inline-block;
  vertical-align: top;
}
.sc-input {
  outline: none;
  width: var( --input-width );
  display: flex;
  flex-direction: column;
}
.sc-input[type=hidden] {
  width: 0px;
}

.sc-input-message {
  display: block;
  overflow: hidden;
  max-height: 0;
  transition: max-height var( --input-invalid-animation-duration ) ease-in-out;
  margin-left: var( --input-message-margin-left );
  margin-bottom: var( --input-message-margin-bottom );
  font-style: italic;
  font-size: var( --input-invalid-font-size );
}

.sc-input-message[comment] {
  max-height: var( --input-invalid-max-height ); 
}

.sc-input-message[invalid] {
  max-height: var( --input-invalid-max-height ); 
  color: var( --input-invalid-color );
}

.sc-input-message[hidden] {
  display: none;
}

.sc-input-message[noanimate] {
  transition: unset;
}

.sc-input-control input {
  pointer-events: none;
  opacity: 0;
  width: 0px;
  height: 0px;
}

.sc-input-text ::slotted(input)::placeholder,
.sc-input-text input::placeholder {
  color: var( --input-placeholder-color );
  font-style: italic;
  opacity: var( --input-placeholder-opacity );
}

.sc-input-toggled {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: var( --input-outside-margin );
  border: var( --input-border-thickness ) solid transparent;
  height: calc( var( --input-min-height ) + var( --input-padding ) * 2 );
}

.sc-input-toggled[position="right"] .sc-input-label {
  margin-right: var( --input-label-toggle-margin );
}

.sc-input-toggled[position="left"] .sc-input-label {
  margin-left: var( --input-label-toggle-margin );
}

.sc-input-toggled[position="left"] {
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.sc-input-toggled[position="left"] .sc-input-label {
  width: 100%;
  text-align: right;
}

.sc-input-toggled .sc-input-label {
  font-size: var( --input-label-font-size );
}

.sc-input-toggled .sc-input-label[required]:before {
  content: "\\2731 ";
  color: var( --input-required-color );
}

.sc-input-toggled[type="checkbox"][position="left"] .sc-input-label {
  padding-left: var( --input-checkbox-label-right-padding );
}

.sc-input-toggled[type="checkbox"] .sc-input-control {
  position: relative;
  display: inline-block;
  width: var( --input-checkbox-width );
  height: var( --input-checkbox-width );
  flex-shrink: 0;
}

.sc-input-toggled + .sc-input-message[invalid] {
  text-align: right;
}

.sc-input-toggled[position="left"] + .sc-input-message {
  text-align: right;
}

.sc-input-toggled[position="left"] + .sc-input-message[invalid] {
  text-align: right;
}


.sc-input[invalid] .sc-input-toggled[type="checkbox"] .sc-input-control-item {
  border-color: var( --input-border-invalid );
  background-color: var( --input-checkbox-invalid-background );
}

.sc-input-toggled[type="checkbox"] .sc-input-control-item {
  position: absolute;
  cursor: pointer;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: var( --input-checkbox-unchecked-background );
  border-style: solid;
  border-width: var( --input-checkbox-border-thickness );
  border-color: var( --input-checkbox-border-color );
  border-radius: var( --input-checkbox-border-radius );
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.sc-input-toggled[type="checkbox"][checked] .sc-input-control-item {
  background-color: var( --input-checkbox-checked-background );
}
.sc-input-toggled[type="checkbox"][readonly] .sc-input-control-item {
  cursor: default;
}
.sc-input-toggled[type="checkbox"][disabled] .sc-input-control-item {
  cursor: default;
  background-color: var( --input-checkbox-disabled-background );
  opacity: var( --input-checkbox-disabled-opacity );
}

.sc-input-toggled[type="checkbox"] .sc-input-control-item[noanimate]:after,
.sc-input-toggled[type="checkbox"] .sc-input-control-item[noanimate]:before {
  transition: unset;
}
.sc-input-toggled[type="checkbox"] .sc-input-control-item:before {
  position: absolute;
  content: "";
  height: var( --input-checkbox-check-size ) ;
  width: calc( var( --input-checkbox-check-size ) / 2 );
  left: var( --input-checkbox-check-nudge-left );
  top: var( --input-checkbox-check-nudge-top );
  border-bottom: solid var( --input-checkbox-check-thickness ) var( --input-checkbox-check-color );
  border-right: solid var( --input-checkbox-check-thickness ) var( --input-checkbox-check-color );
  border-radius: 0%;
  transform: rotate(45deg);
  transition: all var( --input-checkbox-animation-duration ) ease-in-out;
  opacity: 0;
}
.sc-input-toggled[type="checkbox"][unset] .sc-input-control-item:after,
.sc-input-toggled[type="checkbox"][checked] .sc-input-control-item:before {
  opacity: 1;
}
.sc-input-toggled[type="checkbox"] .sc-input-control-item:after {
  position: absolute;
  content: "";
  height: var( --input-checkbox-check-thickness );
  width: 70%;
  border-radius: 0%;
  background-color: var( --input-checkbox-check-color );
  transition: all var( --input-checkbox-animation-duration ) ease-in-out;
  opacity: 0;
}
.sc-input-toggled[type="checkbox"] .sc-input-control-item:focus {
  box-shadow: 0 0 var( --input-focus-outline-size ) var( --input-focus-outline-size ) var( --input-focus );
}

.sc-input-toggled[type="toggle"][position="left"] .sc-input-label {
  padding-left: var( --input-toggle-label-right-padding );
}

.sc-input-toggled[type="toggle"] .sc-input-control {
  position: relative;
  display: inline-block;
  width: var( --input-toggle-width );
  height: calc( var( --input-min-height ) + var( --input-padding ) * 2 );
  flex-shrink: 0;
}

.sc-input[invalid] .sc-input-toggled[type="toggle"] .sc-input-control-item {
  border-color: var( --input-border-invalid );
  background-color: var( --input-toggle-invalid-background );
}

.sc-input-toggled[type="toggle"] .sc-input-control-item {
  position: absolute;
  cursor: pointer;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: var( --input-toggle-off-background );
  transition: all var( --input-toggle-animation-duration ) ease-in-out;
  border: solid var( --input-toggle-border-thickness ) var( --input-toggle-border-color );
  border-radius: calc( ( var( --input-min-height ) + var( --input-padding ) * 2 ) / 2 );
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sc-input-toggled[type="toggle"] .sc-input-control-item[readonly],
.sc-input-toggled[type="toggle"] .sc-input-control-item[disabled] {
  cursor: default;
}

.sc-input-toggled[type="toggle"] .sc-input-control-item:before {
  position: absolute;
  content: "";
  height: var( --input-min-height );
  width: var( --input-min-height );
  margin: 0px calc( var( --input-padding ) - var( --input-toggle-border-thickness ) * 2 );
  left: 0px;
  opacity: var( --input-toggle-off-opacity );
  background-color: var( --input-toggle-thumb-off-color );
  transition: all var( --input-toggle-animation-duration ) ease-in-out;
  border: solid var( --input-toggle-border-thickness ) var( --input-toggle-thumb-off-color );
  border-radius: 50%;
}

.sc-input-toggled[type="toggle"][checked] .sc-input-control-item[disabled]:before {
  opacity: var( --input-toggle-off-opacity );
  background-color: var( --input-toggle-thumb-off-color );
}

.sc-input-toggled[type="toggle"] .sc-input-control-item[disabled]:before {
  background-color: var( --input-toggle-thumb-disabled-color );
}

.sc-input-toggled[type="toggle"][checked] .sc-input-control-item {
  background-color: var( --input-toggle-on-background );
}

.sc-input-toggled[type="toggle"] .sc-input-control-item:focus {
  box-shadow: 0 0 var( --input-focus-outline-size ) var( --input-focus-outline-size ) var( --input-focus );
}

.sc-input-toggled[type="toggle"] .sc-input-control-item[noanimate]:before {
  transition: unset;
}

.sc-input-toggled[type="toggle"][checked] .sc-input-control-item[noanimate]:before {
  left: unset;
  right: calc( var( --input-padding ) - var( --input-toggle-border-thickness ) * 2 );
  transform: unset;
}

.sc-input-toggled[type="toggle"][checked] .sc-input-control-item:before {
  opacity: 1;
  background-color: var( --input-toggle-thumb-on-color );
  border: solid var( --input-toggle-border-thickness ) var( --input-toggle-thumb-on-color );
  left: calc( 100% - var( --input-min-height ) - var( --input-padding ) - var( --input-toggle-border-thickness ) * 3 );
}

.sc-input-toggled[type="toggle"][unset] .sc-input-control-item:before {
  opacity: 1;
  background-color: var( --input-toggle-thumb-unset-color );
  border: solid var( --input-toggle-border-thickness ) var( --input-toggle-thumb-unset-color );
  left: calc( var( --input-toggle-width ) / 2 - var( --input-min-height ) / 2 - var( --input-padding ) );
}

/* edge cannot transform on calculted value, so disable animations */
@supports (-ms-ime-align:auto) {
  .sc-input-toggled[type="toggle"][checked] .sc-input-control-item:before {
    transform: unset;
    right: calc( var( --input-padding ) - var( --input-toggle-border-thickness ) * 2 );
    left: unset;
  }
}

.sc-input[invalid] .sc-input-toggled[type="radio"] .sc-input-control-item {
  border-color: var( --input-border-invalid );
  background-color: var( --input-radio-invalid-background );
}

.sc-input-toggled[type="radio"][position="left"] .sc-input-label {
  padding-left: var( --input-radio-label-right-padding );
}

.sc-input-toggled[type="radio"] .sc-input-control {
  position: relative;
  display: inline-block;
  width: var( --input-radio-width );
  height: var( --input-radio-width );
  flex-shrink: 0;
}

.sc-input-toggled[type="radio"] .sc-input-control-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  cursor: pointer;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border: solid var( --input-radio-border-thickness ) var( --input-radio-border-color );
  background-color: var( --input-radio-unchecked-background );
  border-radius: 50%;
  outline: none;
}

.sc-input-toggled[type="radio"] .sc-input-control-item[readonly],
.sc-input-toggled[type="radio"] .sc-input-control-item[disabled] {
  cursor: default;
}

.sc-input-toggled[type="radio"] .sc-input-control-item[noanimate]:after,
.sc-input-toggled[type="radio"] .sc-input-control-item[noanimate]:before {
  transition: unset;
}

.sc-input-toggled[type="radio"] .sc-input-control-item:before {
  position: absolute;
  content: "";
  height: var( --input-radio-dot-width );
  width: var( --input-radio-dot-width );
  opacity: 0;
  background-color: var( --input-radio-dot-color );
  transition: all var( --input-radio-animation-duration ) ease-in-out;
  border-radius: 50%;
}

.sc-input-toggled[type="radio"] .sc-input-control-item:after {
  position: absolute;
  content: "";
  height: var( --input-radio-dot-width );
  width: var( --input-radio-dot-width );
  opacity: 0;
  background-color: transparent;
  border: 1px solid var( --input-radio-dot-color );
  transition: all var( --input-radio-animation-duration ) ease-in-out;
  border-radius: 50%;
}

.sc-input-toggled[type="radio"] .sc-input-control-item[disabled] {
  opacity: var( --input-radio-disabled-opacity );
}

.sc-input-toggled[type="radio"] .sc-input-control-item:focus {
  box-shadow: 0 0 var( --input-focus-outline-size ) var( --input-focus-outline-size ) var( --input-focus );
}

.sc-input-toggled[type="radio"][checked] .sc-input-control-item {
  background-color: var( --input-radio-checked-background );
}

.sc-input-toggled[type="radio"][checked] .sc-input-control-item:before {
  opacity: 1;
}

.sc-input-toggled[type="radio"][unset] .sc-input-control-item:after {
  opacity: 1;
}

.sc-input[invalid] .sc-input-text {
  border-color: var( --input-border-invalid );
}
.sc-input[disabled] .sc-input-text {
  background-color: var( --input-background-disabled );
}
.sc-input-text {
  margin: var( --input-outside-margin );
  border: var( --input-border-thickness ) solid var( --input-border-color );
  border-radius: var( --input-border-radius );
  background-color: var( --input-background-color, field );
  height: calc( var(--input-min-height) + ( var(--input-padding) * 2 ) );
  position: relative;
  display: flex;
  align-items: center;
  overflow: visible;
}
.sc-input-text ::slotted(input),
.sc-input-text input {
  flex-grow: 1;
  width: 100%;
  border: none;
  font-size: var( --input-font-size );
  font-family: var( --theme-font-family );
  line-height: var( --input-min-height, normal); /* min-height doesn't work on inputs */
  padding: 
    calc( var( --input-padding, 1px ) * var( --input-top-padding-factor, 1 ) ) 
    var( --input-padding, 0px ) 
    calc( var( --input-padding, 1px ) * var( --input-bottom-padding-factor, 1 ) ) 
    var( --input-padding, 4px );
  outline: none;
  margin: 0px;
  background-color: transparent;
  color: var( --input-font-color );
}

.sc-input[disabled] .sc-input-text ::slotted(input),
.sc-input[readonly] .sc-input-text ::slotted(input) {
  cursor: default;
}

.sc-input[type=datetime] .sc-input-text ::slotted(input),
.sc-input[type=datetime] .sc-input-text input:not(.hidden) {
  margin-right: var( --input-picker-margin ); 
}

.sc-input[readonly] .sc-input-picker-icon,
.sc-input[disabled] .sc-input-picker-icon {
  cursor: not-allowed;
  color: var( --input-picker-disabled-color );
}


.sc-input-text-after-icon,
.sc-input-text-before-icon {
  height: 100%;
  display: flex;
  background-color: var( --input-icon-background );
  align-items: center;
}

.sc-input-picker-icon {
  width: var( --input-picker-icon-size );
  margin: 0px var( --input-picker-icon-margin );
  cursor: pointer;
}

.sc-input-text input.hidden {
  position: absolute;
  visibility: hidden;
}

.sc-input-text ::slotted(input[readonly]),
.sc-input-text input[readonly] {
  color: var( --input-font-disabled );
}
.sc-input-text-input {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.sc-input-text[focused] {
  box-shadow: 0 0 var( --input-focus-outline-size, 2px ) var( --input-focus-outline-size, 2px ) var( --input-focus, #5E9ED6 );
}
.sc-input-text-label {
  border: none;
  margin: 0px;
  cursor: text;
  margin: 0px calc( var( --input-label-font-size ) / 2 );
  max-width: calc( 100% - var( --input-label-font-size ) );
  position: absolute;
  font-size: var( --input-label-font-size );
  font-family: var( --input-label-font-family );
  transition: all var( --input-label-animation-duration ) ease-in-out;
  pointer-events: none;
  white-space: nowrap;
  overflow: hidden;
}
input:-webkit-autofill + .sc-input-text-label, /* chrome fix */
.sc-input-text-label[smalllabel],
.sc-input-text[focused] .sc-input-text-label {
  background-color: var( --input-background-color );
  padding: 0px calc( var( --input-label-small-font-size ) / 2 ) ;
  display: inline-block;
  text-transform: uppercase;
  top: calc( ( var( --input-label-small-font-size ) * -0.7 ) );
  border: var( --input-border-color ) solid var( --input-label-small-border-width );
  border-radius: var( --input-border-radius );
  position: absolute;
  font-size: var( --input-label-small-font-size );
  cursor: default;
}

.sc-input-text-label[required]:before {
  content: "\\2731 ";
  font-family: Arial;
  color: var( --input-required-color );
}
.sc-input-text-label[disabled] {
  color: var( --input-label-disabled-color );
}
.sc-input-text-label[noanimate] {
  transition: unset;
}

