
:host([fillwrap]),
:host([fillheight]) {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

.sc-list {
  position: relative;
  display: inline-block;
  height: var( --list-height );
  width: var( --list-width );
  margin: var( --list-margin );
}
.sc-list[fillheight],
.sc-list[fillwrap] {
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.sc-list[fillwidth] {
  width: 100%;
}
.sc-list[fillwrap] {
  min-height: 0px;
  width: auto;
}
.sc-list[fillwrap] .sc-list-content {
  display: flex;
  flex-wrap: wrap;
  align-content: start;
}
.sc-list-content-wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0px;
  max-height: 100%;
  overflow: hidden;
  border: var( --list-border-thickness ) solid var( --list-border-color );
  border-radius: var( --list-border-radius );
  flex: 1;
}
.sc-list-content {
  position: relative;
  height: 100%;
  overflow: auto;
}
.sc-list-content[disabled] {
  pointer-events: none;
  opacity: var( --list-disabled-opacity );
}
.sc-list-content[disabled] .sc-list-item {
  pointer-events: none;
}
.sc-list-item {
  min-height: var( --list-item-min-height );
  padding: 0px var( --list-item-padding );
  display: flex;
  box-sizing: border-box;
  align-items: center;
}


.sc-list[selectable] .sc-list-item:hover {
  background-color: var( --list-item-hover-color );
}

.sc-list[selectable] .sc-list-item[data-selected="true"] {
  background-color: var( --list-item-selected-color );
}

.sc-list[selectable] .sc-list-item[data-selected="true"]:hover {
  filter: brightness( var( --list-item-selected-hover-brightness ) );
}


