:host([isblock]) {
  display: block;
}
:host {
  display: inline-block;
  color: var( --menu-text-color );
}
:host([groupstyle=block]) {
  width: 100%;
  box-sizing: border-box;
}
span {
  white-space: nowrap;
}
.sc-menu-group-name {
  min-width: var( --menu-group-min-width );
  min-height: var( --menu-group-min-height );
  padding: var( --menu-group-padding );
  display: block;
  transition: background-color var( --menu-animation-duration ) ease-out;
  font-size: var( --menu-group-text-size );
}
.sc-menu-group-name[blocky][depth="2"] {
  padding-left: calc( var( --menu-block-depth-indent ) * 1 );
}
.sc-menu-group-name[blocky][depth="3"] {
  padding-left: calc( var( --menu-block-depth-indent ) * 2 );
}
.sc-menu-group-name[blocky][depth="4"] {
  padding-left: calc( var( --menu-block-depth-indent ) * 3 );
}
.sc-menu-group-name[blocky][depth="5"] {
  padding-left: calc( var( --menu-block-depth-indent ) * 4 );
}
.sc-menu-group-name[blocky] {
  display: block;
}
.sc-menu-group-name:hover {
  background-color: var( --menu-group-hover-color );
}
.sc-menu-group-name:not([blocky]):not([noicon]) span:after {
  content: " \\00a0\\00a0\\00a0 ▸"
}
.sc-menu-group-name[blocky]:after {
  content: ' ▼ ';
  float: right;
}
.sc-menu-group-name[blocky][open]:after {
  content: ' ▲ ';
  float: right;
}
.sc-menu-item-name {
  display: block;
  min-width: var( --menu-group-min-width );
  min-height: var( --menu-group-min-height );
  padding: var( --menu-item-padding );
  transition: background-color var( --menu-animation-duration ) ease-out;
  cursor: pointer;
}
.sc-menu-group-name {
  cursor: pointer;
}
.sc-menu-item-name:hover {
  background-color: var( --menu-item-hover-color );
}
.sc-menu-item-name[selected] {
  cursor: default;
  background-color: var( --menu-item-selected-color );
}
.sc-menu-items-wrap {
  position: relative;
}
.sc-menu-items {
  display: flex;
  flex-direction: row;
  font-size: 0;
}
.sc-menu-items[popup] {
  z-index: 1;
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  background-color: var( --menu-popup-background );
  padding: var( --menu-popup-padding );
  border: var( --menu-popup-border-color ) var( --menu-border-width ) solid;
  border-radius: var( --menu-popup-border-radius );
  visibility: hidden;
  opacity: 0;
  transition: opacity var( --menu-animation-duration ) ease-in-out;
  -moz-transition: opacity var( --menu-animation-duration ) ease-in-out;
  -webkit-transition: opacity var( --menu-animation-duration ) ease-in-out;
  min-width: var( --menu-popup-min-width );
  min-height: var( --menu-popup-min-height );
}
.sc-menu-items[popup][open] {
  display: block;
  overflow: visible;
  visibility: visible;
  opacity: 1;
}
.sc-menu-items[blocky] {
  display: block;
  position: relative;
  overflow: hidden;
  visibility: hidden;
  width: 100%;
  height: 0;
}
.sc-menu-items[blocky][open] {
  display: block;
  visibility: visible;
  overflow: revert;
}

