
:host([buttonify]) {
  display: inline-block;
}
:host([buttonify][fill]) {
  display: block;
}
:host {
  display: block;
}
span {
  white-space: nowrap;
}
.sc-menu-button-wrap {
  margin: var( --menu-button-margin );
  display: inline-block;
}
.sc-menu-button {
  background-color: var( --menu-top-background );
}
.sc-menu-top {
  background-color: var( --menu-top-background );
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center; 
}
.sc-menu-popup {
  position: fixed;
  top: 0px;
  left: 0px;
}
.sc-menu-default-button {
  width: var( --menu-button-width );
  height: var( --menu-button-height );
  color: var( --menu-button-border-color ); 
  border-radius: var( --menu-border-radius );
  padding: var( --menu-button-padding-vert ) var( --menu-button-padding-side );
  background-color: var( --menu-button-background );
  border: var( --menu-button-border-color ) var( --menu-border-width ) solid;
}
.sc-menu-default-button-svg { /* edge fix */
  width: inherit;
  height: inherit;
}
.sc-menu-default-button:hover {
  background-color: var( --menu-button-hover-color );
}
.sc-menu-default-button:active {
  background-color: var( --menu-button-active-color );
}
.sc-menu-button-bar {
  display: flex;
  flex-direction: row;
}
.sc-menu-button-bar-content {
  flex: 1;
  text-align: center;
  align-items: center;
}
.sc-menu-items-wrap {
  position: relative;
}
.sc-menu-items[open][blocky] {
  margin-bottom: var( --menu-button-margin );
}
