
:host {
  color: var( --menu-text-color );
}

.sc-menu-item-name {
  display: block;
  min-width: var( --menu-group-min-width );
  min-height: var( --menu-group-min-height );
  padding: var( --menu-item-padding );
  background-color: var( --menu-item-background );
  transition: background-color var( --menu-animation-duration ) ease-out;
  cursor: pointer;
  font-size: var( --menu-item-text-size );
}
.sc-menu-item-name a {
  color: inherit;
  text-decoration: inherit;
}
.sc-menu-group-name {
  cursor: pointer;
}
.sc-menu-item-name:hover {
  background-color: var( --menu-item-hover-color );
}
.sc-menu-item-name[blocky][depth="2"] {
  padding-left: calc( var( --menu-block-depth-indent ) * 1 );
}
.sc-menu-item-name[blocky][depth="3"] {
  padding-left: calc( var( --menu-block-depth-indent ) * 2 );
}
.sc-menu-item-name[blocky][depth="4"] {
  padding-left: calc( var( --menu-block-depth-indent ) * 3 );
}
.sc-menu-item-name[blocky][depth="5"] {
  padding-left: calc( var( --menu-block-depth-indent ) * 4 );
}
.sc-menu-item-name[disabled] {
  color: var( --menu-disabled-color );
  background-color: var( --menu-popup-disabled );
  cursor: default;
}
.sc-menu-item-name[disabled] a {
  cursor: default;
}
.sc-menu-item-name[disabled]:hover {
  background-color: var( --menu-popup-disabled );
}
.sc-menu-item-name[selected] {
  cursor: default;
  background-color: var( --menu-item-selected-color );
}

