
@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeout {
  from { opacity: 1; }
  to { opacity: 0; }
}


:host {
}
.sc-popup {
  opacity: 0;
  pointer-events: auto;
  animation-name: fadeout;
  animation-duration: var( --popup-animation-duration );
  animation-fill-mode: forwards;
}
.sc-popup[open] {
  display: block;
  animation-name: fadein;
}
.sc-popup[noanimate] {
  animation-name: unset !important;
  display: none;
}
.sc-popup[noanimate][open] {
  display: block;
}
.sc-popup[dragging] {
  cursor: move;
}
.sc-popup-mask {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}
.sc-popup-area {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  pointer-events: none;
}
.sc-popup-mask[modal] {
  backdrop-filter: var( --popup-mask-filter );
  -webkit-backdrop-filter: var( --popup-mask-filter );
  background-color: var( --popup-mask-color );
}
.sc-popup-mask[open] {
  animation-name: fadein;
  animation-duration: var( --popup-animation-duration );
}
.sc-popup-mask[open][autoclose],
.sc-popup-mask[open][modal]{
  display: block;
}
.sc-popup-mask[open][noanimate] {
  animation-name: unset;
}

.sc-popup[noheader] .sc-popup-header {
  display: none;
}
.sc-popup-header {
  border-bottom: var( --popup-header-underline-color ) var( --popup-header-underline-thickness ) solid;
  display: block;
  margin: var( --popup-header-margin );
  padding: var( --popup-header-padding );
  font-size: var( --popup-header-font-size );
}
.sc-popup-header ::slotted(*[slot=header]) {
  margin-right: calc( var( --popup-close-button-size ) * 3) !important;
}
.sc-popup-body {
  /*edge fix*/
  display: block;
  padding: var( --popup-body-padding );
}
.sc-popup-footer {
  /* edge fix*/
  display: block;
  text-align: center;
  margin: var( --popup-footer-padding );
}
.sc-popup-content {
  display: block;
  position: absolute;
  overflow: auto;
  max-height: var( --popup-max-height );
  max-width: var( --popup-max-width );
  background-color: var( --popup-content-background );
  border: var( --theme-border-thickness ) solid var( --popup-border-color );
  border-radius: var( --popup-border-radius );
  box-shadow: var( --popup-box-shadow-size ) var( --popup-box-shadow-size ) var( --popup-box-shadow-size ) var( --popup-box-shadow-color );
  top: 0;
  left: 0;
}
.sc-popup[noclose] .sc-popup-close {
  display: none;
}
.sc-popup-close {
  width: var( --popup-close-button-size );
  position: absolute;
  right: var( --popup-close-button-size ); 
  cursor: pointer;
}
