
:host {
  display: inline-block;
  vertical-align: top;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  flex-grow: var( --select-grow, 1 );
}
:host([fillheight]) {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.sc-select {
  width: var( --select-width, 100% );
  outline: none;
}
.sc-select-control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: var( --select-outside-margin );
  border: var( --select-border-thickness, 1px ) solid var( --select-border-color, currentColor );
  border-radius: var( --select-border-radius );
  background-color: var( --select-background-color, field );
  position: relative;
  outline: none;
}
.sc-select-list-control[disabled],
.sc-select-control[disabled] {
  background-color: var( --select-background-disabled );
}
.sc-select[invalid] .sc-select-control,
.sc-select-list[invalid] .sc-select-list-control {
  border-color: var( --select-border-invalid );
}
.sc-select-control[focused],
.sc-select-list-control[focused] {
  box-shadow: 0 0 var( --select-focus-outline-size, 2px ) var( --select-focus-outline-size, 2px ) var( --select-focus, #5E9ED6 );
}
.sc-select-list {
  width: var( --select-width );
  height: var( --select-list-height );
  outline: none;
  display: flex;
  flex-direction: column;
}
.sc-select-list[fillheight] {
  flex: 1;
  height: 100%;
}
.sc-select-list-control {
  position: relative;
  min-height: 0px;
  flex: 1;
  margin: var( --select-outside-margin );
  border: var( --select-border-thickness ) solid var( --select-border-color );
  border-radius: var( --select-border-radius );
  background-color: var( --select-background-color );
  outline: none;
  box-sizing: border-box;
}

.sc-select-message {
  flex: 0;
  flex-basis: auto;
  display: block;
  overflow: hidden;
  max-height: 0;
  padding-bottom: var( --select-message-margin );
  transition: max-height var( --select-invalid-animation-duration ) ease-in-out;
  margin-left: var( --select-message-margin );
  font-style: italic;
  font-size: var( --select-invalid-text-size );
  pointer-events: none;
}

.sc-select-message[hidden] {
  display: none;
}

.sc-select-message[comment] {
  max-height: var( --select-invalid-max-height ); 
}

.sc-select-message[invalid] {
  max-height: var( --select-invalid-max-height ); 
  color: var( --select-invalid-color );
}

.sc-select-message[noanimate] {
  transition: unset;
}

.sc-select-options {
  border-radius: var( --select-border-radius );
  padding: calc( var( --select-padding ) ) 0px;
  max-height: var( --select-options-max-height );
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0px;
  pointer-events: all;
}
.sc-select-options-wrap-outer {
  position: relative;
  z-index: 2;
}
.sc-select-options-wrap {
  position: absolute;
  overflow: hidden;
  opacity: 0;
  min-width: var( --select-options-min-width, 100% );
  margin: 0px var( --select-outside-margin );
  margin-top: var( --select-options-nudge-top, 1px );
  border-radius: var( --select-border-radius );
  box-shadow: var( --select-options-shadow-size, 0.2rem ) var( --select-options-shadow-size, 0.2rem ) var( --select-options-shadow-size, 0.2rem ) var( --select-options-shadow-color, rgba( 0,0,0,0.15) );
  white-space: nowrap;
  display: flex;
  flex-direction: column;
}
.sc-select[invalid] .sc-select-options-wrap {
  border-color: var( --select-border-invalid );
}
.sc-select .sc-select-options-wrap[noanimate] {
  transition: unset;
}
.sc-select-options-wrap[sized] {
  transition: all var( --select-option-animation-duration ) ease-in-out;
  overflow: hidden;
  opacity: 1;
}
.sc-select-list-options-wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}
.sc-select-list-options {
  overflow: hidden auto;
  flex-grow: 1;
}
.sc-select-options-border {
  border-radius: var( --select-border-radius );
  border: var( --select-border-thickness, 1px ) solid var( --select-border-color, currentColor );
  box-sizing: border-box;
  background-color: var( --select-options-background, field );
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.sc-select-value-wrap {
  width: 10px; /* will grow beyond */
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  outline: none;
  border: none;
  white-space: nowrap;
  background-color: transparent;
  font-size: var( --select-text-size );
  min-height: var( --select-min-height, 16px );
  padding: calc( var( --select-padding, 0px ) * 1.1 ) 0px calc( var( --select-padding, 0px ) * 0.9 ) var( --select-padding, 4px );
  margin: 0px var( --select-padding, 4px ) 0px 0px;
}
.sc-select-value-wrap:after {
  content  : "";
  position : absolute;
  top: 0px;
  right: calc( var(--select-min-height) + var( --select-padding ) + var( --select-padding ) );
  margin: calc( var( --select-padding ) * 1.5 ) var( --select-padding ) calc( var( --select-padding ) * 0.5 ) var( --select-padding );
  pointer-events   : none;
  background-image : linear-gradient(to right, var(--select-value-fade-background-faded),var(--select-value-fade-background));
  min-height: var(--select-min-height);
  width: var(--select-min-height);
}

.sc-select-value-wrap[placeholder] .sc-select-value,
.sc-select-value-wrap[placeholder] {
  color: var( --select-placeholder-color );
  opacity: var( --select-placeholder-opacity );
  font-style: italic;
}
.sc-select-control[disabled] .sc-select-value-wrap:after {
  background-image : linear-gradient(to right, var(--select-value-fade-background-disabled-faded),var(--select-value-fade-background-disabled));
}
.sc-select-label[required]:before {
  content: "\\2731 ";
  font-family: Arial;
  color: var( --select-required-color );
}
.sc-select-label[disabled] {
  color: var( --select-label-disabled-color );
}
.sc-select-separator {
  width: var(--select-border-thickness);
  height: var(--select-min-height);
  border: none;
  margin: 0px;
  border-radius: var(--select-border-radius);
  background-color: var(--select-border-color);
}
.sc-select[invalid] .sc-select-separator {
  background-color: var( --select-border-invalid );
}
.sc-select-icon {
  display: flex;
  border: none;
  margin: 0px calc( var(--select-padding, 2px) );
  padding: 0px calc( var(--select-padding, 4px ) / 2);
}
.sc-select-icon:hover {
  background-color: var( --select-button-hover-background );
  border-radius: var( --select-border-radius );
}
.sc-select-control[disabled] .sc-select-icon:hover {
  background-color: var( --select-background-disabled );
}
.sc-select-icon:active {
  opacity: 0.8;
}
.sc-select[invalid] .sc-select-icon > svg {
  color: var( --select-border-invalid );
}
.sc-select[invalid] .sc-select-icon:hover {
  background-color: var( --select-button-hover-invalid-background );
}
.sc-select-icon > svg {
  margin: 0px;
  border: none;
  width: auto;
  height: var( --select-button-size, 16px );
  color: var( --select-button-color );
  pointer-events: none;
}
input:-webkit-autofill + .sc-select-label, /* chrome fix */
.sc-select-label[smalllabel] {
  background-color: var( --select-background-color );
  padding: 0px calc( var( --select-label-small-text-size ) / 2 ) ;
  display: inline-block;
  right: unset;
  left: var( --select-label-small-text-size );
  text-transform: uppercase;
  top: calc( var( --select-label-small-text-size ) * -0.7 );
  border: var( --select-border-color ) solid var( --select-label-small-border-width );
  border-radius: var( --select-border-radius );
  position: absolute;
  font-size: var( --select-label-small-text-size );
  line-height: var( --select-label-small-text-size );
  cursor: default;
}
.sc-select-label {
  border: none;
  outline: none;
  margin: 0px;
  cursor: text;
  left: calc( var( --select-label-text-size ) / 2 );
  right: calc( ( var(--select-padding) * 3 ) + var( --select-button-size ) );
  position: absolute;
  font-size: var( --select-label-text-size );
  transition: all var( --select-label-animation-duration ) ease-in-out;
  white-space: nowrap;
  overflow: hidden;
  pointer-events: none;
}
.sc-select-label[noanimate] {
  transition: unset;
}
.sc-select-option-search {
  margin: var( --select-padding );
}
.sc-select-option-search input {
  width: 100%;
  outline: none;
  padding: var( --select-padding );
}

.sc-select-value {
  color: var( --select-text-color, fieldtext );
  line-height: var( --select-min-height, normal );
}

.sc-select-value-tag {
  display: inline-block;
  background-color: var( --select-value-tag-background );
  color: var( --select-text-color );
  border-radius: var( --select-value-tag-border-radius );
  border: var( --select-value-tag-border-thickness ) solid var( --select-value-tag-border-color );
  padding-left: var( --select-value-tag-padding ); 
  padding-right: var( --select-value-tag-padding ); 
  margin-right: var( --select-value-tag-margin );
  white-space: nowrap;
  cursor: default;
}
.sc-select-value-tag:after {
  content: "\\2A2F";
  font-size: var( --select-text-size );
  line-height: var( --select-text-size );
}

