
:host {
  display: block;
}
.sc-select-option {
  display: flex;
  flex-direction: row;
  border-left: solid var( --select-option-active-border-thickness ) transparent;
}
.sc-select-option[selected] {
  background-color: var( --select-option-selected-background, lightskyblue ) !important;
}
.sc-select-option[active] {
  background-color: var( --select-option-hover-background, lightskyblue );
}
.sc-select-option[selected][active] {
  filter: brightness( var( --select-option-selected-hover-brightness, 1.1 ) );
}
.sc-select-option ::slotted(div) {
  width: 100%;
  pointer-events: none;
  max-height: 0px;
  overflow: hidden;
}
.sc-select-option-text {
  display: flex;
  align-items: center;
  max-height: 0px;
  overflow: hidden;
}
.sc-select-option[visible] ::slotted(div),
.sc-select-option-text span {
  max-height: unset; /*edge fix */
  min-height: var( --select-option-height, 0px );
  line-height: var( --select-option-height, normal );
  padding: var( --select-option-padding, 4px ) 0px;
}
.sc-select-option-text span:first-child {
  padding-left: var( --select-padding, 4px );
}
.sc-select-option-text span:last-child {
  padding-right: var( --select-padding, 4px );
}
.sc-select-option[visible] .sc-select-option-text {
  max-height: unset;
}

