

:host {
  display: block;
  color: var( --sidemenu-text-color );
  --sidemenu-minimised-opacity: unset;
}
:host([hidden]) {
  display: none;
}
:host([minimised]) {
  --sidemenu-minimised-opacity: 0;
}

.sc-sidemenu-icon-wrapper {
  display: flex;
  align-items: center;
  height: var( --sidemenu-item-height );
  width: auto;
  margin: 0px;
  padding: 0px;
}
.sc-item-expander {
  width: var( --sidemenu-text-size );
  height: var( --sidemenu-text-size );
  color: var( --sidemenu-arrow-color );
}
.sc-sidemenu-expandicon-wrapper {
  padding: 0px var( --sidemenu-item-padding ) 0px calc( var( --sidemenu-item-padding ) * 2 );
  flex-grow: 1;
  display: flex;
  justify-content: end;
  align-items: center;
}
.sc-sidemenu-expander-icon:hover {
  background-color: var( --sidemenu-item-hover-color );
}
.sc-sidemenu-expander-icon:hover > svg { /* edge fix */
  background-color: var( --sidemenu-item-hover-color );
}
.sc-sidemenu-expander[minimised] .sc-sidemenu-expander-icon {
  padding: calc( var( --sidemenu-text-size ) / 3 ) calc( var( --sidemenu-text-size ) / 2 );
}
.sc-sidemenu-expander-icon {
  width: calc( var( --sidemenu-text-size ) * 0.75 ); /* specific to icon */
  height: auto;
  color: var( --sidemenu-arrow-color );
  padding: calc( var( --sidemenu-text-size ) / 3 ) calc( var( --sidemenu-text-size ) / 1.5 );
}
.sc-sidemenu-expander-icon > svg { /* edge fix */
  width: calc( var( --sidemenu-text-size ) * 0.75 );
  height: auto;
  color: var( --sidemenu-arrow-color );
}

.sc-sidemenu {
  background-color: var( --sidemenu-item-background );
  /* A default large value for initially minimised menus */
  max-width: var( --sidemenu-maximum-width );
  min-width: var( --sidemenu-minimum-width );
  transition: max-width var( --sidemenu-animation-duration) ease-in-out, min-width var( --sidemenu-animation-duration) ease-in-out;
  overflow: hidden;
}
.sc-sidemenu[minimised] {
  max-width: var( --sidemenu-minimised-width );
  min-width: var( --sidemenu-minimised-width ) !important;
}
.sc-sidemenu[skipanimation] div,
.sc-sidemenu[skipanimation] p,
.sc-sidemenu[skipanimation],
.sc-sidemenu[noanimate] {
  transition: unset !important;
}
.sc-sidemenu-item > a {
  transition: opacity var( --sidemenu-animation-duration );
  opacity: var( --sidemenu-minimised-opacity );
  color: inherit;
  text-decoration: inherit;
  flex-grow: 1
}
.sc-sidemenu-item {
  cursor: pointer;
}

.sc-sidemenu-group > .sc-sidemenu-item > p {
  opacity: var( --sidemenu-minimised-opacity, 1 );
  transition: opacity var( --sidemenu-animation-duration );
  padding-left: calc( var( --sidemenu-item-padding ) * 2 );
}
.sc-sidemenu-group > .sc-sidemenu-group-items {
  padding-left: var( --sidemenu-group-inset-size );
  transition: max-height var( --sidemenu-animation-duration ) ease-out ;
  overflow: hidden;
}
.sc-sidemenu-group[collapsed] > .sc-sidemenu-group-items {
  max-height: 0px !important;
}
.sc-sidemenu-group[selected] > .sc-sidemenu-item {
  border-left: var( --sidemenu-group-selected-color ) var( --sidemenu-selected-border-size ) solid;
}
.sc-sidemenu-group[selected][collapsed] > .sc-sidemenu-item {
  background-color: var( --sidemenu-item-selected-color ) ;
}

.sc-sidemenu-item:hover {
  background-color: var( --sidemenu-item-hover-color );
}
.sc-sidemenu-item:hover > .sc-sidemenu-item { /* edge fix */
  border-left: var( --sidemenu-item-hover-color ) var( --sidemenu-selected-border-size ) solid;
}
.sc-sidemenu-expander {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; 
  padding: var( --sidemenu-item-padding );
  height: var( --sidemenu-item-height );
  transition: max-width var( --sidemenu-animation-duration ) linear;
  -moz-transition: max-width var( --sidemenu-animation-duration ) linear;
  -webkit-transition: max-width var( --sidemenu-animation-duration ) linear;
}
.sc-sidemenu-item {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center; 
  padding: var( --sidemenu-item-padding );
  height: var( --sidemenu-item-height );
  position: relative;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  border-left: var( --sidemenu-item-background ) var( --sidemenu-selected-border-size ) solid;
}
.sc-sidemenu-item[selected] {
  background-color: var( --sidemenu-item-selected-color ) ;
  border-left: var( --sidemenu-group-selected-color,red ) var( --sidemenu-selected-border-size ) solid;
}
.sc-sidemenu-item[selected] > .sc-sidemenu-item { /* edge fix */
  border-left: var( --sidemenu-item-selected-color,red ) var( --sidemenu-selected-border-size ) solid;
}
.sc-sidemenu-item[selected] > p {
  background-color: var( --sidemenu-item-selected-color ) ;
}
.sc-sidemenu-item > a, .sc-sidemenu-expander > p {
  display: inline-block;
  padding-left: calc( var( --sidemenu-item-padding ) * 2 );
  margin: 0;
}
.sc-sidemenu-expander > p {
  flex-grow: 1;
  opacity: 1;
  padding: 0px;
  max-width: var( --sidemenu-maximum-width );
  transition: opacity var( --sidemenu-animation-duration ) linear, max-width var( --sidemenu-animation-duration ) linear;
  -moz-transition: opacity var( --sidemenu-animation-duration ) linear, max-width var( --sidemenu-animation-duration ) linear;
  -webkit-transition: opacity var( --sidemenu-animation-duration ) linear, max-width var( --sidemenu-animation-duration ) linear;
}
@supports (-ms-ime-align:auto) { 
  .sc-sidemenu-expander > p { 
    transition: none;
    -moz-transition: none;
    -webkit-transition: none;
  } 
}
.sc-sidemenu-expander[minimised] {
  justify-content: center;
}
.sc-sidemenu-expander[minimised] > p {
  opacity: 0;
  overflow: hidden;
  max-width: 0px;
}
p {
  display: inline-block;
}



