
:host {
}
.sc-slideout {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  overflow: hidden;
  pointer-events: none;
}
.sc-slideout[full] {
  position: fixed;
}
.sc-slideout[open] .sc-slideout-wrap {
  pointer-events: all;
}

.sc-slideout[resizable] .sc-slideout-wrap {
}

.sc-slideout-mask {
  position: absolute;
  display: none;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
}
@-moz-document url-prefix() {
  .sc-slideout[modal] .sc-slideout-mask {
    background-color: var( --slideout-mask-color );
  }
}
.sc-slideout[modal] .sc-slideout-mask {
  backdrop-filter: var( --slideout-mask-filter );
  pointer-events: all;
}

.sc-slideout-wrap {
  display: flex;
  max-height: 100%;
  position: absolute;
  opacity: 0;
}

.sc-slideout[resizable] .sc-slideout-resize-bar-after,
.sc-slideout[resizable] .sc-slideout-resize-bar-before {
  content: " ";
  background-color: var( --slideout-resize-bar-background );
  border-radius: var( --slideout-border-radius );
  cursor: grab;
  cursor: -webkit-grab; cursor: -moz-grab;
  flex-shrink: 0;
}

.sc-slideout[resizable] .sc-slideout-resize-bar-after.grabbed,
.sc-slideout[resizable] .sc-slideout-resize-bar-before.grabbed {
  cursor: grabbing;
}

.sc-slideout[resizable][position=left] .sc-slideout-resize-bar-after,
.sc-slideout[resizable][position=right] .sc-slideout-resize-bar-before {
  width: var( --slideout-resize-bar-size );
  margin: var( --slideout-resize-bar-margin );
}

.sc-slideout[resizable][position=top] .sc-slideout-resize-bar-after,
.sc-slideout[resizable][position=bottom] .sc-slideout-resize-bar-before {
  height: var( --slideout-resize-bar-size );
  width: calc( 100% - var( --slideout-margin ) );
  margin: var( --slideout-resize-bar-margin );
}


.sc-slideout-content-wrap {
  max-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var( --slideout-content-background );
  box-sizing: border-box;
  border-radius: var( --slideout-border-radius );
}

.sc-slideout[position=left] .sc-slideout-content-wrap,
.sc-slideout[position=right] .sc-slideout-content-wrap {
  flex-direction: row;
}

.sc-slideout[position=top] .sc-slideout-content-wrap,
.sc-slideout[position=bottom] .sc-slideout-content-wrap {
  flex-direction: column;
}

.sc-slideout-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-height: 0px;
}

.sc-slideout[position=right] .sc-slideout-content-wrap {
  top: 0px;
  left: 0px;
  height: 100%;
}
.sc-slideout[position=left] .sc-slideout-content-wrap {
  top: 0px;
  right: 0px;
  height: 100%;
}
.sc-slideout[position=top] .sc-slideout-content-wrap {
  bottom: 0px;
  left: 0px;
  width: 100%;
}
.sc-slideout[position=bottom] .sc-slideout-content-wrap {
  top: 0px;
  left: 0px;
  width: 100%;
}
.sc-slideout[borders=auto][position=top] .sc-slideout-content-wrap {
  border: var( --slideout-border-size ) solid var( --slideout-border-color );
  border-left: top;
}
.sc-slideout[borders=auto][position=bottom] .sc-slideout-content-wrap {
  border: var( --slideout-border-size ) solid var( --slideout-border-color );
  border-left: bottom;
}
.sc-slideout[borders=auto][position=left] .sc-slideout-content-wrap {
  border: var( --slideout-border-size ) solid var( --slideout-border-color );
  border-left: none;
}
.sc-slideout[borders=auto][position=right] .sc-slideout-content-wrap {
  border: var( --slideout-border-size ) solid var( --slideout-border-color );
  border-right: none;
}
.sc-slideout[borders=single][position=top] .sc-slideout-content-wrap {
  border-bottom: var( --slideout-border-size ) solid var( --slideout-border-color );
}
.sc-slideout[borders=single][position=bottom] .sc-slideout-content-wrap {
  border-top: var( --slideout-border-size ) solid var( --slideout-border-color );
}
.sc-slideout[borders=single][position=left] .sc-slideout-content-wrap {
  border-right: var( --slideout-border-size ) solid var( --slideout-border-color );
}
.sc-slideout[borders=single][position=right] .sc-slideout-content-wrap {
  border-left: var( --slideout-border-size ) solid var( --slideout-border-color );
}
.sc-slideout[borders=none] .sc-slideout-content-wrap {
  border: none;
  border-radius: 0px;
}
.sc-slideout-header {
  border-bottom: var( --slideout-header-underline-color ) 3px solid;
  display: none;
  margin: var( --slideout-header-margin );
  padding: var( --slideout-header-padding );
  flex-grow: 0;
  flex-shrink: 0;
  min-height: var( --slideout-header-size );
}
.sc-slideout .sc-slideout-content-wrap {
  border: none;
}
.sc-slideout-header[showheader] {
  display: block;
}
.sc-slideout-header[padded] ::slotted(*) {
  margin-right: calc( var( --slideout-close-size ) * 2 ); 
}
.sc-slideout-body {
  /*edge fix*/
  display: block;
  padding: var( --slideout-content-padding );
  flex-grow: 1;
  min-height: 0px;
}

.sc-slideout-body[allowzoom] slot::slotted(*) {
  touch-action: auto;
}

.sc-slideout-body slot::slotted(*) {
  height: 100%;
  overflow-y: auto;
  touch-action: pan-x pan-y;
}

.sc-slideout-close {
  position: absolute;
  right: 0px;
  padding: var( --slideout-close-padding ); 
  margin: var( --slideout-close-margin );
  min-width: var( --slideout-close-size );
  display: flex;
  flex-direction: column;
  justify-items: center;
  z-index: 1;
}

.sc-slideout[resizable][position=left] .sc-slideout-close {
  margin-right: calc( var( --slideout-resize-bar-margin ) * 2 + var( --slideout-resize-bar-size ) + var( --slideout-close-margin ) );
}

.sc-slideout[resizable][position=bottom] .sc-slideout-close {
  margin-top: calc( var( --slideout-resize-bar-margin ) * 2 + var( --slideout-resize-bar-size ) + var( --slideout-close-margin ) );
}


.sc-slideout-close > svg {
  width: auto;
  height: var( --slideout-close-size );
}
.sc-slideout-close:hover {
  background-color: var( --slideout-close-hover-color );
  border-radius: var( --slideout-border-radius, 0px );
}
.sc-slideout-close:active {
  background-color: var( --slideout-close-active-color );
}


