
@keyframes revealFilter {
  0% {
    display: flex;
    overflow: clip;
    opacity: 0;
  }
  10% {
    flex-grow: 0.0001;
    overflow: clip;
  }
  50% {
    opacity: 1;
  }
  100% {
    flex-grow: 1;
    display: flex;
    overflow: visible;
  }
}

@keyframes hideFilter {
  0% {
    flex-grow: 1;
    overflow: clip;
  }
  50% {
    opacity: 1;
  }
  90% {
    flex-grow: 0.0001;
    overflow: clip;
  }
  100% {
    display: none;
    overflow: clip;
    opacity: 0;
  }
}

:host {
  display: block;
  overflow: hidden;
}
table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  padding: var( --table-cell-padding );
  border: var( --table-cell-border-size ) solid var( --table-cell-border-color );
  border-right: var( --table-cell-border-right-size ) solid var( --table-cell-border-color );
  overflow: hidden;
  text-overflow: ellipsis;
}
th:first-child,
td:first-child {
  border-left: none;
}
th:last-child,
td:last-child {
  border-right: none;
}
th {
  overflow: visible;
}
table[disabled] {
  opacity: var( --table-disabled-opacity );
}
table span {
  font-size: var( --table-text-size );
}
thead[sticky] {
  position: sticky;
  top: 0px;
}
thead th:after {
  content: '';
  padding: 0px;
  border-bottom: var( --table-border-size ) solid var( --table-border-color );
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
}
thead tr span {
  font-size: var( --table-heading-size );
  line-height: var( --table-header-size );
}
table[disabled] tr {
  pointer-events: none;
}
thead .sc-table-column-title {
  display: flex;
  justify-content: space-between;
}
thead .sc-table-column-title-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 100%;
  min-width: 0px;
  flex: 1;
  flex-wrap: wrap;
}
thead .sc-table-column-title-search-icon {
  padding: 0px;
  padding-left: var(--table-search-icon-margin );
}
thead .sc-table-column-title-search-icon > svg {
  height: var( --table-sort-icon-size );
  cursor: pointer;
  width: auto;
}
thead .sc-table-column-title-search-input {
  padding-left: var(--table-search-icon-margin );
  display: flex;
  flex-grow: 0.0001;
  flex-shrink: 1;
  flex-basis: 0px;
  max-width: var( --table-search-column-max-size );
  text-align: start;
  animation-duration: var( --table-search-animation-duration );
  animation-fill-mode: forwards;
  z-index: 1; /* Keep above sticky header border */
}

thead .sc-table-column-title-search-input > sc-select,
thead .sc-table-column-title-search-input > sc-input,
thead .sc-table-column-title-search-input > select,
thead .sc-table-column-title-search-input > input {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  min-width: 0px;
  max-width: 100%;
  outline: none;
  margin: var( --table-search-column-margin );
  font-size: var( --table-search-column-font-size );
  font-weight: normal;
}
thead .sc-table-column-title-search-input > select,
thead .sc-table-column-title-search-input > input {
  border-radius: var( --table-search-column-border-radius );
  border: solid var( --table-search-column-border-color ) var( --table-search-column-border-thickness );
}
thead .sc-table-column-title-search-input > sc-select {
  --select-border-thickness: var( --table-search-column-border-thickness );
  --select-border-color: var( --table-search-column-border-color );
  --select-border-radius: var( --table-search-column-border-radius );
  --select-required-size: 0px;
  --select-focus: var( --table-search-column-focus );
  --select-focus-outline-size: var( --table-search-column-border-thickness );
  --select-text-color: var( --table-search-column-color );
}
thead .sc-table-column-title-search-input > sc-input {
  --input-border-thickness: var( --table-search-column-border-thickness );
  --input-border-color: var( --table-search-column-border-color );
  --input-border-radius: var( --table-search-column-border-radius );
  --input-text-color: var( --table-search-column-color );
  --input-focus: var( --table-search-column-focus );
  --input-focus-outline-size: var( --table-search-column-border-thickness );
}
thead .sc-table-column-title-search-input > select:focus-visible,
thead .sc-table-column-title-search-input > input:focus-visible {
  box-shadow: 0 0 var( --table-search-column-border-thickness ) var( --table-search-column-border-thickness ) var( --table-search-column-focus );
}
thead .sc-table-column-title-text .sc-table-column-title-search-input.showfilter {
  animation-name: revealFilter;
}
thead .sc-table-column-title-text .sc-table-column-title-search-input.hidefilter {
  animation-name: hideFilter;
}
thead .sc-table-column-title-text .sc-table-column-title-search-input.hiddenfilter {
  display: none;
}
thead .sc-table-column-title-sort {
  font-size: var( --table-sort-number-size );
  line-height: var( --table-sort-number-size );
  align-self: center;
  margin-left: var( --table-sort-icon-left-margin );
  cursor: pointer;
}
thead .sc-table-column-title-sort > svg {
  height: var( --table-sort-icon-size );
  width: auto;
}
thead th {
  font-weight: bold;
  background-color: var( --table-header-background );
  border-top: none;
  white-space: nowrap;
  user-select: none;
}
tbody td:empty::after{
  content: "\\00a0 ";
}
tbody tr[data-selected=true]:nth-child(even) {
  background-color: var( --table-row-selected );
}
tbody tr[data-selected=true]:nth-child(odd) {
  background-color: var( --table-row-selected );
}
tbody tr:nth-child(even) {
  background-color: var( --table-stripe-background );
}
tbody tr:last-child td {
  border-bottom: none;
}
.ranges {
  display: inline-block;
  float: left;
  padding: var( --table-control-outline-size ) 0px;
}
.ranges select {
  color: var( --table-control-color );
  background-color: var( --table-control-background );
  border-radius: var( --table-control-border-radius );
  border: solid var( --table-control-border-thickness ) var( --table-control-border-color );
  min-height: var( --table-control-size );
  min-width: var( --table-control-width );
  padding: var( --table-control-padding );
  transition: background-color var( --table-animation-duration ) linear;
}
.ranges select:hover {
  background-color: var( --table-control-hover-background );
}
.ranges select:focus {
  outline: none;
  box-shadow: 0 0 var( --table-control-outline-size ) var( --table-control-outline-size ) var( --table-control-outline-color );
}
.pagination{
  display: inline-block;
  float: right;
  padding: var( --table-control-outline-size ) 0px;
}
.pagination button {
  color: var( --table-control-color );
  background-color: var( --table-control-background );
  border-radius: var( --table-control-border-radius );
  border: solid var( --table-control-border-thickness ) var( --table-control-border-color );
  min-height: var( --table-control-size );
  min-width: var( --table-control-width );
  padding: var( --table-control-padding );
  transition: background-color var( --table-animation-duration ) linear;
}
.pagination button[disabled] {
  opacity: var( --table-control-disabled-opacity );
}
.pagination button:hover {
  background-color: var( --table-control-hover-background );
}
.pagination button[disabled]:hover {
  background-color: var( --table-control-background );
}
.pagination button:focus {
  outline: none;
  box-shadow: 0 0 var( --table-control-outline-size ) var( --table-control-outline-size ) var( --table-control-outline-color );
}
.sc-table-toolbar {
  display: flex;
  flex-shrink: 0;
  flex-direction: row;
  background-color: var( --table-toolbar-background );
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
  border: var( --table-border-size ) solid var( --table-border-color );
  border-top: none;
  border-bottom: none;
}
.sc-table-toolbar[visible] {
  border-radius: var( --table-border-radius ) var( --table-border-radius ) 0px 0px;
}
.sc-table-wrap {
  position: relative;
  margin: 0px;
}
.sc-table {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
}
.sc-table-scroll-wrap {
  border: var( --table-border-size ) solid var( --table-border-color );
  border-radius: var( --table-border-radius );
}
.sc-table-scroll-wrap[scrollable] {
  overflow: auto;
  padding-right: var( --table-scrollbar-padding, 0px );
}
.sc-table-scroll-wrap[hastoolbar] {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.sc-table-column-title {
  display: inline-block;
}
.sc-table-controls {
  flex-shrink: 0;
  overflow: auto;
  padding-bottom: 5px;
  margin-top: var( --table-bar-margin );
}
.sc-table-controls[ hidden ] {
  display: none;
}
.sc-table-search-wrap {
  display: inline-block;
  margin: var( --table-control-margin );
}
.sc-table-search {
  display: flex;
  align-items: center;
}
.sc-table-search sc-input {
  --input-border-radius: var( --table-search-header-border-radius );
  --input-border-thickness: var( --table-search-header-border-thickness );
  --input-border-color: var( --table-search-header-border-color );
  --input-focus: var( --table-search-header-focus );
  --input-focus-outline-size: var( --table-search-header-border-thickness );
  --input-text-color: var( --table-search-header-color );
  font-size: var( --table-search-header-font-size );
  margin: var( --table-search-header-border-thickness );
}
.sc-table-search-icon {
  display: inline-block;
}
.sc-table-search-icon > svg {
  height: var( --table-search-icon-size );
  width: auto;
  margin: var( --table-search-icon-margin );
  vertical-align: middle;
}
@-webkit-keyframes flashOnce { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes flashOnce { from { opacity:0; } to { opacity:1; } }
@keyframes flashOnce { from { opacity:0; } to { opacity:1; } }

.flash-table {
  -webkit-animation: flashOnce 0.1s ease-in-out 0s;
  -moz-animation: flashOnce 0.1s ease-in-out 0s;
  -o-animation: flashOnce 0.1s ease-in-out 0s;
  animation: flashOnce 0.1s ease-in-out 0s;
}
