
:host {
  display: flex;
  --tabs-border-top-left-radius: var( --theme-border-radius );
}
:host(:first-child) {
  --tabs-border-top-left-radius: 0px;
}
:host([fill]){
  height: 100%;
  flex-grow: 1;
}
.sc-tab-size-helper {
  width: 100%;
  height: var( --tab-label-border-size );
  visibility: hidden;
  opacity: 0;
}
.sc-tab-label {
  position: relative;
  min-width: var( --tab-label-min-width );
  max-width: var( --tab-label-max-width );
  height: var( --tab-table-height );
  line-height: var( --tab-label-height );
  padding: 0px var( --tab-label-space-size );
  background-color: var( --tab-label-background );
  color: var( --tab-label-color );
  border-radius: var( --tab-label-border-radius );
  border: none;
  cursor: pointer;
}
.sc-tab[disabled] .sc-tab-label {
  opacity: var( --theme-control-disabled-opacity );
  cursor: no-drop;
}
.sc-tab-label-wrap {
  margin-bottom: var( --tab-label-border-size );
  margin-right: var( --tab-label-space-size );
  border-radius: var( --tab-label-border-radius );
}
.sc-tab[raised] .sc-tab-label-wrap {
  box-shadow: 10px 10px 8px var( --tab-shadow-color );
}
.sc-tab-label p {
  margin: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sc-tab[scroll] .sc-tab-content ::slotted(*) {
  overflow: visible;
}
.sc-tab-content ::slotted(*) {
  /** margin-left: var( --tab-content-margin ); **/
  overflow: hidden;
}
.sc-tab[scroll] .sc-tab-content {
  overflow: auto;
}
.sc-tab-label ::slotted(*) {
  display: inline-block;
}
.sc-tab-content {
  position: absolute;
  top: calc( var( --tab-label-height ) + var( --tab-label-border-size ) );
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var( --tab-content-background );
  transition: opacity .2s cubic-bezier(.42,0,.34,1.01);
  opacity: 0;
  border: var( --tabs-border-color ) var( --tabs-border-size ) solid;
  border-radius: var( --tabs-border-top-left-radius ) var( --tabs-border-radius ) var( --tabs-border-radius ) var( --tabs-border-radius );
  box-sizing: border-box;
  pointer-events: none;
  padding: var( --tab-content-margin );
  overflow: hidden;
}
.sc-tab-content.sizing {
  top: unset;
  bottom: unset;
  right: unset;
}
.sc-tab[raised] .sc-tab-content {
  box-shadow: 10px 10px 8px var( --tab-shadow-color );
}
.sc-tab[selected] .sc-tab-content {
  opacity: 1;
  pointer-events: auto;
}
.sc-tab[selected] .sc-tab-label {
  background-color: var( --tab-label-selected-background );
  color: var( --tab-label-selected-color );
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.sc-tab[selected] .sc-tab-label-wrap {
  border-bottom: var( --tab-label-border-size ) solid var( --tab-label-selected-bar-color );
  margin-bottom: none;
  border-radius: 0px;
}
.sc-tabs-container {
  display: flex;
  position: relative;
  flex-grow: 1;
}
.sc-tabs-container[fill] {
  height: 100%;
  flex-grow: 1;
}

