

:host {
  display: inline-block;
  vertical-align: top;
}
:host([fill]) {
  height: 100%;
  width: 100%;
  flex-direction: column;
  display: flex;
  flex: 1;
}
.sc-textarea {
  position: relative;
  overflow: hidden;
}
.sc-textarea-message {
  display: block;
  overflow: hidden;
  max-height: 0;
  transition: max-height var( --textarea-invalid-animation-duration ) ease-in-out;
  margin-left: calc( var( --textarea-padding ) * 2 );
  margin-bottom: calc( var( --textarea-padding ) * 2 );
  font-style: italic;
  font-size: var( --textarea-invalid-font-size );
}
.sc-textarea-message[hidden] {
  display: none;
}
.sc-textarea-message[comment] {
  max-height: var( --textarea-invalid-max-height );
}
.sc-textarea-message[invalid] {
  color: var( --textarea-invalid-color );
  max-height: var( --textarea-invalid-max-height );
}
.sc-textarea-message[noanimate] {
  transition: unset;
}
.sc-textarea-control {
  position: relative;
  margin: var( --textarea-outside-margin );
  box-sizing: border-box;
  overflow: visible;
}
.sc-textarea textarea {
  width: var( --textarea-width );
  line-height: var( --textarea-line-height );
  padding: calc( var( --textarea-padding ) * 1.4 ) var( --textarea-padding ) calc( var( --textarea-padding ) * 0.6 ) var( --textarea-padding );
  outline: none;
  margin: 0px;
  border: var( --textarea-border-thickness ) solid var( --textarea-border-color );
  border-radius: var( --textarea-border-radius );
  background-color: var( --textarea-background-color );
  font-size: var( --textarea-font-size );
  font-family: var( --textarea-font-family );
  color: var( --textarea-font-color );
  box-sizing: border-box;
  resize: none;
}
.sc-textarea[fill] {
}
.sc-textarea[fill],
.sc-textarea[fill] .sc-textarea-control,
.sc-textarea[fill] textarea {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.sc-textarea[fill] textarea {
  width: 100%;
}
.sc-textarea[focused] textarea {
  box-shadow: 0 0 var( --textarea-focus-outline-size ) var( --textarea-focus-outline-size ) var( --textarea-focus );
}
.sc-textarea[invalid] textarea {
  border-color: var( --textarea-border-invalid );
}
.sc-textarea textarea[disabled] {
  background-color: var( --textarea-background-disabled );
}
.sc-textarea[resizable] textarea {
  resize: both;
}
.sc-textarea-label {
  border: none;
  margin: 0px;
  cursor: text;
  line-height: var( --textarea-label-font-size );
  top: calc( var( --textarea-line-height ) / 2 + var( --textarea-padding ) - var( --textarea-label-font-size ) / 2 );
  left: calc( var( --textarea-label-font-size ) / 2 );
  position: absolute;
  font-size: var( --textarea-label-font-size );
  transition: all var( --textarea-label-animation-duration ) ease-in-out;
  pointer-events: none;
}
textarea:-webkit-autofill + .sc-textarea-label,/* chrome fix */
.sc-textarea-label[smalllabel],
textarea:focus + .sc-textarea-label {
  background-color: var( --textarea-background-color );
  padding: 0px calc( var( --textarea-label-small-font-size ) / 2 ) ;
  display: inline-block;
  right: unset;
  left: var( --textarea-label-small-font-size );
  text-transform: uppercase;
  top: calc( ( var( --textarea-label-small-font-size ) * -0.7 ) + var( --textarea-border-thickness ) );
  border-style: var( --textarea-border-color ) solid var( --textarea-label-small-border-width );
  border-radius: var( --textarea-border-radius );
  position: absolute;
  font-size: var( --textarea-label-small-font-size );
  cursor: default;
}
textarea::placeholder {
  color: var( --textarea-placeholder-color );
  font-style: italic;
  opacity: var( --textarea-placeholder-opacity );
}
.sc-textarea-label[required]:before {
  content: "\\2731  ";
  color: var( --textarea-required-color );
}
.sc-textarea-label[disabled] {
  color: var( --textarea-label-disabled-color );
}
.sc-textarea-label[noanimate] {
  transition: unset;
}
.sc-textarea-default-value {
  display: none;
}

